{{#each thursdays}}
<div class="columns one-third date-container">
    <img src="../../assets/img/live-demo-webinar/calendar-icon.png">
    <p class="signup-month">{{month}}</p>
    <p class="signup-day">{{day}}</p>
    <a href="#" class="primary-button small" class="register-btn" data-modal-click="webinar-signup">Register</a>
</div>
{{/each}}
