{{#each thursdays}}
<div class="columns one-third date-container">
    <img src="../../assets/img/live-demo-webinar/calendar-icon.png">
    <p class="signup-month">{{month}}</p>
    <p class="signup-day">{{day}}</p>
    <a href="" class="primary-button small register-btn" data-index="{{index}}">Register</a>
</div>
{{/each}}
