---
layout: page.hbs
seo_title: Optimizely Partners
visible_title: Optimizely Partners
sub_head: World-class service providers. Empowered customers. Lasting results.
body_class:
- integrations-solutions
---
<div class="columns twelve">
  <div class="row">
    <div class="columns six">
      <h2>Integrations</h2>
    </div>
    <div class="columns six">
      <div class="pill clearfix">
        <a href="{{linkPath}}/partners/integrations">Integrations (??)</a>
        <a href="{{linkPath}}/partners/solutions" class="active">Solutions Partners (??)</a>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="columns seven">
      <p>As the global leader in website optimization, Optimizely is focused on developing the most robust and intuituve testing platform on the planet. Enabling our customers when needed, we partner with the best service providers around the world so that our clients never have to compromise.
    </div>
    <div class="columns five learn-more">
      If you would like to learn more
      <a class="big" href="#">Apply to Become a <br /> Solutions Partner Today! &gt;</a>
    </div>
  </div>
</div>
