---
layout: page.hbs
seo_title: Optimizely Partners
visible_title: Optimizely Partners
sub_head: World-class service providers. Empowered customers. Lasting results.
body_class:
- integrations-solutions
---
<div class="columns twelve">
  <div class="row single-partner-container">
    <div class="columns four">
      <div class="partners-back">
        <a href="{{linkPath}}/partners/integrations">&lt; See all Solutions Partners</a>
      </div>

      <div class="partners-logo">
        {{logo}}
      </div>

      <div class="partners-link">
        <a href="#">www.mailchimp.com</a>
      </div>

      <div class="partners-contact">
        (555) 555-5555 <br />
        info@example.com <br />
        <br />
        123 Real St <br />
        Seattle, WA 12345 <br />
      </div>

      <div class="partners-languages">
        <strong>LANGUAGES</strong> <br />
        English, Spanish
      </div>
    </div>
    <div class="columns eight">
      <h4>Mailchimp</h4>

      <div class="level">
        <div class="level-heading">Certification Level: <span class="tooltip-hover" data-content="lorem ipsum dolor">?</span></div>
        <div class="star-cont star-cont--3 star-left"></div>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum orci id aliquet varius. Pellentesque id consectetur turpis, non lobortis felis. Nulla et ultricies tortor, non tempus eros. Cras congue dui vel velit semper pharetra pellentesque et leo. Proin tempor commodo orci. Aenean mollis malesuada auctor. Curabitur auctor elementum laoreet. Donec porttitor urna sit amet libero ultricies, rutrum faucibus neque condimentum.</p>
      <p>Mauris vitae scelerisque magna, ac fringilla mi. Praesent ultricies nulla massa, eget feugiat eros sollicitudin sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer a ante pulvinar nibh ultrices tempor. Nam fermentum magna id mi gravida tincidunt. Curabitur dapibus volutpat ligula, vitae rutrum velit consectetur eu. Fusce eu neque nec tellus sagittis dignissim. Curabitur suscipit porta purus, non iaculis dolor.</p>
      <p>Phasellus placerat lorem neque, et malesuada augue congue ut. Curabitur interdum mi ac porttitor luctus. Etiam metus quam, placerat at egestas quis, tristique at tortor. Nulla facilisi. Sed sit amet commodo eros. Nulla pharetra tellus egestas, adipiscing lectus vel, euismod ante. Pellentesque vitae faucibus tortor. Aliquam rutrum metus vel nisl accumsan, luctus rutrum ante interdum.</p>

      <div class="partners-tags">
        <span>tag</span>, <span>tag</span>
      </div>

      <a class="button" href="#">
        Read Knowlege Base Article
      </a>
    </div>
  </div>
</div>
