---
layout: page.hbs
visible_title: A/B Test Sample Size Calculator
body_class:
- sample-size-page
page_script: sample-size-calculator.js
---
<div class="callout">
  <div class="row">
    <div class="columns one-third">{{sample_size_calculator.calculator_data.baseline}}</div>
    <div class="columns two-thirds"></div>
  </div>
</div>