.clearfix {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear:both;
	}
}

.callout {
	box-shadow: 0px 2px 4px rgba(0,0,0,0.07);
	background-color: white;
	border: 1px solid #ddd;
	padding: 25px;
}

.button {
	background: linear-gradient(top, #147ec7 0%,#126fb0 100%);
	color: #fff;
	border: 1px solid #22599a;
	border-radius: 1px;
	cursor: pointer;
	display: inline-block;
	font-size: .87em;
	font-weight: 400;
	line-height: 1.4;
	padding: 0.6em 2.8em;
	text-align: center;

	&.small {
		font-size: 12px;
		padding: 0.5em 1em;
	}
}

.primary-button {
	background: linear-gradient(to bottom, #90b71c 0%, #7fa119 100%);
	border: 1px solid #7e9339;
	border-radius: 1px;
	color: #fff!important;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	padding: 0.6em 2.8em;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 -1px 0px rgba(0,0,0,0.23);

	&:hover {
		box-shadow: 0px 1px 3px rgba(0,0,0,0.18);
		background: #90b71c;
		border-color: #68792f;
		text-decoration: none;
	}
}

.secondary-button {
	background: linear-gradient(to bottom, #eeeeee 0%, #e1e1e1 100%);
	border: 1px solid #cacaca;
	border-radius: 1px;
	color: #888 !important;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	padding: 0.6em 2.8em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.8);

	&.small {
		font-size: 12px;
		padding: 0.5em 1em;
	}

	&:hover {
		box-shadow: 0px 1px 3px rgba(0,0,0,0.18);
		background: #eee;
		border-color: #b8b8b8;
		text-decoration: none;
	}
}

.box-shadow {
	-webkit-box-shadow: 0 0 3px 3px #EEE;
    box-shadow: 0 0 3px 3px #EEE;
}

.box {
	background-color: white;
	padding: 25px;	
}

.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
	}
}

.divider-heading {
	color: #006eb6;
	margin: 25px 0;
}

.subheading {
	color: #242424;
	font-size: 1.9em;
	margin: 0 0 38px;
	text-align: center;
	font-weight: 300;
}

.half {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;

	&.right {
		padding-left: 10px;
	}

	&.left {
		padding-right: 10px;
	}
}

.a-right {
	text-align: right;
}

.attention {
	margin: 20px 0;
	h3 {
		text-align: center;
	}
}

.super {
	display: block;
	padding-bottom: 0.25em;
	font-size: 0.45em;
	line-height: 1;
	text-align: center;
}

.logo {
	display: block;
	height: 35.31px;
	width: 165px;
	background-size: 165px 35.31px;
	text-indent: -900em;
	margin: 0 auto;
}

.secondary-button.disabled {
	opacity: 0.6;
	cursor: default;
}

.a-center {
	h3, h4 {text-align: center;}
	text-align: center!important;
}

.framed {
	background: #fff;
	border: 1px solid #dadada;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	padding: 3px;
}

.cta {
	form {
		.url-input {
			border: solid 1px #e3e3e3;
			box-shadow: inset 0 0px 10px 0 rgba(0,0,0,0.2);
			color: #7f7f7f;
			font-size: 16px;
			height: 22px;
			line-height: 22px;
			padding: 5px 8px;
			margin-bottom: 25px;
		}

		label {
			display: none;
		}
	}
}

body .small-note, body p.small-note {
	font-size: 12px;
	line-height: 1.4em;
	color: #888;
}

.landing-page-form {
	ul {padding: 0;}
	li {
		list-style-type: none;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: $tablet-min-width) {
	.super {
		text-align: left;
	}
	.box {
		-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.07);
		-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.07);
		box-shadow: 0px 2px 4px rgba(0,0,0,0.07);
		border: 1px solid #ddd;
	}
}

@media only screen and (min-width: $desktop-min-width) {
	.left {float: left;}
	.right {float: right;}
	.sheet {
		width: 960px;
		margin: 0 auto;
		background-color: white;
		border: 1px solid #eee;
		padding: 40px 55px;
		> div {
			@extend .clearfix;
		}
		h3 {
			@extend .heading-underline;
		}
		h4 {
			font-size: 1.18em;
			line-height: 1.4;
			margin: 0 auto;
			margin-bottom: 1em;
			font-family: "Gotham A","Gotham B",Helvetica,Arial,sans-serif;
		}
		article {
			float: left;
			width: 570px;
		}
		aside {
			float: right;
			width: 220px;
		}
	}
	.landing-page-form {
		input {
			width: 100%;
		}
	}
	.vertical-center-header {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 3;
	}
	.lede-image {
		background: #fff;
		border: 1px solid #dadada;
		box-shadow: 0 2px 3px rgba(0,0,0,0.1);
		padding: 3px;
	}
    .divider-heading {
        overflow: hidden;
        h2 {
            position: relative;
            display: table;
            margin-left: auto;
            margin-right: auto;
            padding-left: 1em;
            padding-right: 1em;
            position: relative;
            width: auto;
            color: #006eb6;
            text-align: center;
            &:before, 
            &:after {
                background: #dadada;
                border-bottom: 1px solid #fff;
                height: 2px;
                content: " ";
                display: block;
                position: absolute;
                top: 50%;
                width: 9999%;
            }
            &:before {
                left: -9999%;
            }
            &:after {
                right: -9999%;
            }
        }
    }
	.attention {
		&:before,
		&:after {
			-moz-background-size: 100%,100%;
			-webkit-background-size: 100%,100%;
			background-size: 100%,100%;
			background: image-url("sepshadow.png") no-repeat center top;
			content: " ";
			display: block;
			height: 30px;
			width: 100%;
		}
		&:before {
			margin-bottom: 30px;
		}
		&:after {
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			margin-top: 30px;
		}
	}

	.cta {
		form {
			.url-input {
				width: 74%;
				margin-bottom: 0;
			}
		}
	}

}

.hide-label {
	display: none;
}

input[type="text"], input[type="url"], input[type="email"], input[type="tel"] {
	&.error {
		background-color: #fef3f3;
		border-color: #f3b6b3;
	}
}
