.clearfix {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear:both;
	}
}

.callout {
	box-shadow: 0px 2px 4px rgba(0,0,0,0.07);
	background-color: white;
	border: 1px solid #ddd;
	padding: 25px;
}

.primary-button {
	background: linear-gradient(top, #90b71c 0%,#7fa119 100%);
	background: -moz-linear-gradient(top, #90b71c 0%,#7fa119 100%);
	border: 1px solid #7e9339;
	border-radius: 1px;
	color: #fff!important;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	padding: 0.6em 2.8em;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 -1px 0px rgba(0,0,0,0.23);
}

.secondary-button {
	background: linear-gradient(top, #90b71c 0%,#7fa119 100%);
	border: 1px solid #cacaca;
	border-radius: 1px;
	color: #888 !important;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	padding: 0.6em 2.8em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
}

.logo {
	display: block;
	height: 35.31px;
	width: 165px;
	background-size: 165px 35.31px;
	text-indent: -900em;
	margin: 0 auto;
}

.secondary-button.disabled {
	opacity: 0.6;
	cursor: default;
}

.a-center {
	h3, h4 {text-align: center;}
	text-align: center!important;
}

.framed {
	background: #fff;
	border: 1px solid #dadada;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	padding: 3px;
}

body .small-note, body p.small-note {
	font-size: 12px;
	line-height: 1.4em;
	color: #888;
}

@media only screen and (min-width: $desktop-min-width) {
	.left {float: left;}
	.right {float: right;}
	.sheet {
		background-color: white;
		border: 1px solid #eee;
		padding: 40px 55px;
		> div {
			@extend .clearfix;
		}
		h3 {
			@extend .heading-underline;
		}
		h4 {
			font-size: 1.18em;
			line-height: 1.4;
			margin: 0 auto;
			margin-bottom: 1em;
			font-family: "Gotham A","Gotham B",Helvetica,Arial,sans-serif;
		}
		article {
			float: left;
			width: 580px;
		}
		aside {
			float: right;
			width: 220px;
		}
	}

}
