/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*

        FUNCTIONALITY HELPER CLASSES

   */
   body.signed-out {
        .signed-in-content {
            display: none;
        }
    }
    body.signed-in {
        .signed-out-content {
            display: none;
        }
    }

    body {
        font-family: $body-font-family;
    }

    .logo {
        background: $logo-background;
    }

    /*

        HEADER

    */
    /*#utility-nav-cont, nav {display: none;}*/
    
    .logo {
        display: block;
        height: 35.31px;
        width: 165px;
        background-size: 165px 35.31px;
        text-indent: -900em;
        margin: 0 auto;
    }
    /*
        
        MOBILE NAV

    */
    header {
        background: #052f60;
    }
    .nav {
        padding: 0;
        li {
            list-style-type: none;
        }
        p, a {
            color: #fff;
        }
        a {
            text-decoration: none;
        }
    }
    @media only screen and (max-width: 59.99em) {
        body {
            background: #052f60;
        }
        header {
            nav {
                position: absolute;
                left: -80%;
                height: 100%;
                top: 0;
                width: 0;
                background: #052f60;
            }
            nav:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 34px;
                background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
            }
        }
        #outer-wrapper {
            width: 100%;
            overflow: hidden;
            position: relative;
        }
        #inner-wrapper {
            position: relative;
            width: 100%;
            transform: translate(0);
            transition: transform .2s;
        }
        #nav-menu {
            color: #fff;
            text-decoration: none;
            font-size: .8em;
            line-height: .8em;
            display: block;
            font-weight: 100;
            text-transform: uppercase;
            float: left;
            margin: 20px 0 0 5px;
            padding: 9px 5px 7px 5px;
            /*width: 35px;*/
            background-size: 35px 35px;
            /*background: url('/assets/img/menu.svg') center center no-repeat;*/
            text-align: center;
            border: 1px solid #fff;
            border-radius: 3px;
        }
        #main-nav > li {
            border-bottom: 1px solid #042142;
            border-top: 1px solid #08448a;
            overflow: hidden;
        }
        #main-nav > li.first {
            border-top: 0;
        }
        #main-nav {
            margin: 0;
            p, a {
                padding: 15px 0 15px 22px;
                margin: 0;
                display: block;
            }
            ul {
                transition: max-height .2s;
                padding: 0 0 0 10px;
                a {
                    font-size: .8em;
                    font-weight: 100;
                }
            }
        }
        body.mobile-nav-ready #main-nav ul:not(.active) {
            max-height: 0!important;
        }
        #main-nav p {
            position: relative;
        }
        #main-nav p:after {
            content: "";
            position: absolute;
            height: 15px;
            width: 15px;
            background: url('/assets/img/arrow.svg');
            position: absolute;
            left: 5px;
            top: 17px;
            transform: translate(0);
            transition: transform 50ms;
        }
        #main-nav > li.active p:after {
            transform: rotate(90deg);
        }
        li li {
            a {

            }
        }
        #user-nav-cont {
            display: block;
            height: 35px;
            width: 35px;
            float: right;
            margin: 0;
            text-align: right;
            padding: 22px 10px 0 10px;
        }
        #user-icon {
            height: 25px;
            width: 25px;
        }
        #user-icon-path {
            fill: #fff;
        }
        #utility-nav-cont:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 34px;
            background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        }
        #utility-nav-cont {
            right: -80%;
            height: 100%;
            top: 0;
            width: 0;
            position: absolute;
            text-align: left;
            padding: 0 0 0 34px;
            box-sizing: border-box;
        }
        body.nav-open {
            #inner-wrapper {
                transform: translate(80%);
            }
            nav {
                width: 80%;
            }
        }
        body.user-nav-open {
            #inner-wrapper {
                transform: translate(-80%);
            }
            #utility-nav-cont {
                width: 80%;
            }
        }
    }
    

    /* 

        PAGE TEMPLATE

    */
    #page-header {
        background: #fff;
        padding: 17px 0;
        h1 {
            font-weight: normal;
            text-align: center;
            color: $page-header-color;
            font-weight: 100;
            margin: 0;
        }
        p {
            text-align: center;
            color: #888;
            font-weight: 500;
            margin: .3em 0 0 0;
        }
    }
    #page-header-gradient {
        height: 25px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-image: url('/assets/img/bg-shadow.png');
    }
    #page-content {
        background: #fff;
    }
    .ugc {
        color: #242424;
        p, li {
            font-size: 1.1em;
        }
        p {
            line-height: 1.7;
        }
        li {margin-bottom: 7px;}
        h2, h3, h4, h5, p, li {
            font-weight: 100;
        }
        h2, h3, h4, h5 {
            margin: 0;
            text-align: center;
            font-size: 2em;
        }
        h3 {
            font-size: 1.8em;
            line-height: 1.2;
        }
        h4 {
            font-size: 1.6em;
        }
        h5 {
            font-size: 1.4em;
        }
        a {
            color: #4d89e2;
            text-decoration: none;
        }
    }

   /*

        FOOTER

   */
    footer {
        text-align: center;
        padding: 20px 0;
        background: #006eb6;
        color: #fff;
        h4 {
            font-size: 1.3em;
        }
        ul {padding: 0;}
        li {
            list-style-type: none;
            margin-bottom: 20px;
        }
        a {
            color: $footer-link-color;
            text-decoration: none;
        }
        a:hover {text-decoration: underline;}
        .separater {display: none;}
   }


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 60em) {
    /* Style adjustments for viewports that meet the condition */

    /*

        HEADER

    */
    .container {
        position: relative;
    }
    #nav-menu, #user-nav-cont {
        display: none;
    }
    header {
        ul {
            text-align: right;
            padding: 0;
            margin: 0;
        }
        li {
            display: inline-block;
        }
        ul ul {display: none;}
    }
    .logo-cont {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .utility-nav {
        margin: 0;
        a {
            font-size: .8em;
            font-weight: normal;
            padding: 12px;
            display: block;
        }
        a:hover {
            background: $nav-hover-color;
        }
    }
    #main-nav {
        a, p {
            font-weight: 500;
            padding: 1.1em 1.3em;
            display: block;
        }
        p {
            margin: 0;
        }
        li {
            border-top: 4px solid transparent;
        }
        li.last {
            a {padding-right: 0;}
        }
        li:hover {
            border-top: 4px solid $nav-hover-color;
        }
    }
    /* 

        PAGE TEMPLATE

    */
    #page-content {background: $page-content-color;}
    #page-header-gradient {background-color: #f4f4f4;}
    .ugc {
        p, li {
            font-size: .9em;
        }
        h2, h3, h3, h4, h5 {
            text-align: left;
        }
    }
    /*

        FOOTER

    */
    footer {
        font-size: $footer-desktop-font-size;
        text-align: left;
        h4 {
            font-size: 1em;
            font-weight: 100;
        }
        .logo {
            background-size: 108px 23.112px;
            height: 23.112px;
            width: 108px;
            margin: 0;
        }
    }
    #legalese {
        li {
            float: left;
            padding: 0 3px;
        }
        li.terms {
            padding-left: 0;
        }
        li.security {
            padding-right: 0;
        }
    }
    #footer-nav-cont {
        .left {
            float: left;
            width: 300px;
        }
        .right {
            float: right;
            width: 640px;
        }
    }
    #footer-nav {margin: 0;}
    .footer-nav-column {
        float: left;
        padding: 0 10px;
        h4 {
            padding: 0 0 7px 0;
            border-bottom: 1px dotted $footer-link-color;
        }
        li {
            margin: 0 0 6px 0;
        }
    }
    #footer-nav-features {
        padding-left: 0;
        width: 160px;
    }
    #footer-nav-customers {
        width: 100px;
    }
    #footer-nav-resources {
        width: 160px;
    }
    #footer-nav-about {
        width: 40px;
    }
    #footer-nav-other {
        width: 100px;
        padding-right: 0;
    }
    hr.light {

    }
    hr.dark {

    }
    #intl-domains li {
        float: left;
        padding: 0 10px;
    }
    #intl-domains {
        li.first {
            padding-left: 0;
        }
        li.last {
            padding-right: 0;
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}