/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
    color: #242424;
    font-size: 1em;
    line-height: 1.4;
    height: 100%
}

/*
 * In order to support 100% height fixed position elements
 */
body {
  min-width: 100%;
  min-height: 100%;
}

img {max-width: 100%;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

ul {
  margin: 5px 0;
  padding: 0;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*

        FUNCTIONALITY HELPER CLASSES

   */
   body.signed-out {
        .signed-in-content {
            display: none;
        }
    }

    body.signed-in {
        .signed-out-content {
            display: none;
        }
    }

    body {
        font-family: $body-font-family;
        text-align: center;
        position: relative;
    }

    .logo {
        background: $logo-background;
    }

    #main {background: #fff;}
    /*

        PAGE TEMPLATE

    */
    #page-header {
        background: #fff;
        padding: 17px 0;
        h1 {
            font-family: $gotham-font-family;
            font-weight: normal;
            text-align: center;
            color: $page-header-color;
            font-weight: 100;
            margin: 0;
        }
        p {
            text-align: center;
            color: #888;
            font-weight: 500;
            margin: .3em 0 0 0;
        }
    }
    .sub-header-nav {
      padding: 0;
      li {
        list-style-type: none;
        margin-bottom: 10px;
      }
      a {
        display: block;
        text-align: center;
        font-weight: normal;
        &.active {
          display: none;
        }
      }
      > li {
        display: inline-block;
        position: relative;
        vertical-align: top;
      }
    }
    #page-header-gradient {
        height: 25px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-image: image-url('bg-shadow.png');
    }
    #page-content {
        background: #fff;
        padding-bottom: 35px;
    }
    .ugc {
        color: #242424;
        p, li {
            font-size: 1.1em;
        }
        p {
            line-height: 1.7;
        }
        li {margin-bottom: 7px;}
        h2, h3, h4, h5, p, li {
            font-weight: 100;
        }
        h2, h3, h4, h5 {
            margin: 0;
            text-align: center;
            font-size: 2em;
        }
        h3 {
            font-size: 1.8em;
            line-height: 1.2;
        }
        h4 {
            font-size: 1.6em;
        }
        h5 {
            font-size: 1.4em;
        }
        a {
            color: #4d89e2;
            text-decoration: none;
        }
    }
    .lede-img {
        margin-bottom: 35px;
    }


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: $desktop-min-width) {
    /* Style adjustments for viewports that meet the condition */
    body {
      background: #006eb6;
      text-align: left;
    }

    #main {
      background: #f4f4f4;
    }
    /*

        PAGE TEMPLATES

    */
    #page-content {background: $page-content-color;}
    #page-header-gradient {background-color: #f4f4f4;}
    .ugc {
        p, li {
            font-size: .9em;
        }
        h2, h3, h3, h4, h5 {
            text-align: left;
        }
    }
}

@media only screen and (min-width: $tablet-min-width) {
  .page-subheader-cont {
      h1 {float: left;}
  }
  .sub-header-nav {
      float: right;
      margin: 23px 0 0 0;
      li {
          list-style-type: none;
          display: inline-block;
          margin-left: .8em;
      }
      a {
          text-decoration: none;
          color: #444;
          font-size: .8em;
          font-weight: 300;
          &.active {
            display: block;
            font-weight: 500;
            color: #0053a7;
          }
      }
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

/*
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
*/

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
