---
layout: page.hbs
seo_title: How to Improve Conversion Rates
visible_title: How to Improve Conversion Rates
body_class:
- mvt
---
<div class="row">
  <div class="columns ten offset-one page-header">
    <div class="grid12 center">
      <p>In online marketing, a conversion rate is the ratio of total visitors to visitors who perform desired actions. Internet businesses measure successful conversions differently based on the nature of their business and their goals. An online publisher might consider submitting a form on a subscription page a successful conversion; whereas an online retailer might measure their conversion rate by number of clicks to the “Add to Cart” button. Internet businesses in every industry employ many methods to improve conversion rates because higher conversion rates typically translate to greater return on investment. This article outlines five tips and approaches to improving conversion rates using an <a href="http://www.optimizely.com">AB testing software</a>.</p>
    </div>
  </div>
</div>
<div id="main-container" class="row">
  <div class="gutter"></div>
  <div class="grids-container row">
    <div class="columns three offset-two">
      <img src="http://optimizely-marketer-assets.s3.amazonaws.com/pages/improve-conversion-rates/1.focus_cta.png">
    </div>
    <div class="columns seven">
      <h4 class="blue"><strong>Tip 1:</strong> Focus on your call to action.</h4>
      <p>In online marketing lingo, a call to action refers to a button or link that directs visitors to take a certain action like “Add to Cart” or “Register Now.” One way to potentially improve conversion rates is to experiment with different calls to action. Vary not only the position on the page. Try new CTA text or icon on the button as well.</p>

      <p>In one experiment, Optimizely was able to increase conversion rates on the homepage 27% by changing the call to action button text from “Get Started” to “Test It Out.” The hypothesis was that action words would perform better than non-action words and that less process-oriented wording would do better. Seeing a significant increase in conversion rate from “Test It Out,” we concluded that this language made it more clear that the user could try it immediately without a long process. We thought “Get Started” presented a more hands-on, involved process.</p>

      <p>By testing the CTA on your pages, you may reveal how much impact just three words can have on your bottom line.</p>
    </div>
  </div>

  <div class="grids-container row center">
    <div class="columns three offset-two">
      <img src="http://optimizely-marketer-assets.s3.amazonaws.com/pages/improve-conversion-rates/2.layout.png">
    </div>
    <div class="columns seven">
      <h4 class="blue"><strong>Tip 2:</strong> Experiment with Layout, Content, Style and Functionality on Landing Pages</h4>
      <p>Landing pages typically do three things:
        </p><ol>
          <li>They inform the user what your company has to offer.</li>
          <li>They interest you in their offer, often by explaining what makes your company different.</li>
          <li>They make it easy and clear how the user can follow through on your offer (i.e. “convert”).</li>
        </ol>
      <p></p>
      <p>
        In other words, landing pages give enough information to motivate users to want to convert and gently guide them in that direction. Your content, layout, style and functionality are all a part of this. For example, a page with too much content may confuse users but a page without enough or the wrong kind of content might not motivate them to convert. Experiment with the position of page elements. Vary the text and images. See what happens if you make stylistic changes to page elements. Ask yourself questions like: does the text field have to be long? Should the call to action be a different color? Finally, try different user experiences and change functionality.
      </p>
    </div>
  </div>

  <div class="grids-container row center">
    <div class="columns three offset-two">
      <img src="http://optimizely-marketer-assets.s3.amazonaws.com/pages/improve-conversion-rates/3.track_goals.png">
    </div>
    <div class="columns seven">
      <h4 class="blue"><strong>Tip 3:</strong> Track multiple page elements.</h4>
      <p>Keep in mind the reason you’re testing: you want to achieve a certain goal or goals. Many factors may affect the success of achieving your goal whether it be increasing views, sign-ups, leads, revenue, downloads or a combination of these. Tracking multiple elements on the pages you’re testing helps measure how your tests impact the different ways a visitor could achieve the goal. You will not only be able learn which experience was better by tracking multiple elements, but also possibly learn why it was better for your site visitors.</p>

      <p>For example, a software site has a goal to create more sales leads for their sales team. A visitor can become a lead in three ways:
        </p><ol>
          <li>Watching a video on the homepage that prompts them to “learn more” by filling out a form</li>
          <li>Clicking on the “take the guided tour” button which ends in a form to create an account</li>
          <li>Directly signing up for a 30-day free trial from the pricing page</li>
        </ol>
      <p></p>

      <p>The company runs AB tests to hopefully increase the number visitors who convert into leads. They track clicks on all three lead-generation sources to measure if and how any variation impacts that source. Maybe advertising the 30-day free trial detracts from visitors who become a lead via watching the video. Tracking clicks on both buttons will give the full picture on how to best optimize the page to achieve the ultimate goal of increasing leads.</p>
    </div>
  </div>

  <div class="grids-container row">
    <div class="columns three offset-two">
      <img src="http://optimizely-marketer-assets.s3.amazonaws.com/pages/improve-conversion-rates/4.test_visitors.png">
    </div>
    <div class="columns seven">
      <h4 class="blue"><strong>Tip 4:</strong> Test the right visitors.</h4>
      <p>Different visitors behave differently. For example, organic visitors tend to spend more time on websites, view more pages, and have lower bounce rates than visitors that come from paid campaigns. Similarly, returning visitors tend to browse sites differently from new visitors. These behavioral differences should be reflected in your testing parameters. Design tests that are aimed at the right people.</p>
    </div>
  </div>

    <div class="grids-container">
    <div class="columns three offset-two">
      <img src="http://optimizely-marketer-assets.s3.amazonaws.com/pages/improve-conversion-rates/5.iterate.png">
    </div>
    <div class="columns seven">
      <h4 class="blue"><strong>Tip 5:</strong> Iterate, iterate, and iterate.</h4>
      <p>This tip is also known as “always be testing.” The nature of experimentation dictates that some tests succeed and some fail: both outcomes present opportunities for growth. The road to improved conversion rates is paved with lots of tests. Use testing as a chance to explore new design possibilities then refine. The more you integrate A/B testing and <a href="/resources/multivariate-test-vs-ab-test">multivariate testing</a> as a core part of your company culture, the more your decisions will be driven by data rather than by feelings.</p>
    </div>
  </div>
</div>
