---
layout: about.hbs
no_container: true
seo_title: Events
visible_title: Events
body_class:
- events-page
page_script: events.js
---
<div class="sheet">
  <div>
    <article>
      <div id="events-cont">
        <h3>Upcomming Events</h3>
        <div id="future-events-cont"></div>
        <h3 class="events-heading-small heading-underline">Past Events</h3>
      </div><!--/#events-cont-->
      <div id="previous-events-cont">
        <p class="show-past-events">Learn more about Optimizely's past events. <a href="#" id="get-past-events">Load Past Events</a></p>
        <div id="past-events-cont"></div>
      </div><!--/#previous-events-cont-->
    </article>
    <aside>
      <div>
        <h3>Event Inquiries</h3>
        <p>For event inquiries and speaking requests: <a href="mailto:events@optimizely.com">events@optimizely.com</a></p>
        <p>Visit our <a href="{{linkPath}}/contact" title="Contact Optimizely">Contact page</a> for more contact details.</p>
      </div>
      <div class="ugc">
        <h3>Subscribe</h3>
        <p>Subscribe to our events calendar:</p>
        <ul>
          <li><a href="https://www.google.com/calendar/render?cid=optimizely.com_hh3e0hadjvjs9gh34mdlevverk@group.calendar.google.com" title="Add to Google Calendar">Google Calendar</a></li>
          <li><a href="http://www.google.com/calendar/ical/optimizely.com_hh3e0hadjvjs9gh34mdlevverk%40group.calendar.google.com/public/basic.ics" title="iCal calendar feed">iCal</a></li>
          <li><a href="http://www.google.com/calendar/ical/optimizely.com_hh3e0hadjvjs9gh34mdlevverk%40group.calendar.google.com/public/basic.ics" title="Outlook calendar feed">Outlook</a></li>
          <li><a href="http://www.google.com/calendar/feeds/optimizely.com_hh3e0hadjvjs9gh34mdlevverk%40group.calendar.google.com/public/basic">RSS</a></li>
        </ul>
      </div>
    </aside>
  </div>
</div><!--/.sheet-->
