---
layout: page.hbs
seo_title: Customers
title: "Over 6,000 Happy Customers"
visible_title: Find out who's testing with Optimizely right now
body_class:
- customers-page
---

<div class="customer-grid">
    <div class="row">
        <div class="columns customer-grid-item starbucks first-desktop"></div>
        <div class="columns customer-grid-item salesforce"></div>
        <div class="columns customer-grid-item fico"></div>
        <div class="columns customer-grid-item mtv"></div>
        <div class="columns customer-grid-item abc first-tablet"></div>
        <div class="columns customer-grid-item fox first-desktop"></div>
        <div class="columns customer-grid-item guardian"></div>
        <div class="columns customer-grid-item cbs"></div>
        <div class="columns customer-grid-item disney first-tablet"></div>
        <div class="columns customer-grid-item techcrunch"></div>
        <div class="columns customer-grid-item sprite2 clorox first-desktop"></div>
        <div class="columns customer-grid-item sprite2 signals"></div>
        <div class="columns customer-grid-item sprite2 ruelala first-tablet"></div>
        <div class="columns customer-grid-item sprite2 truste"></div>
        <div class="columns customer-grid-item sprite2 taskrabbit"></div>
        <div class="columns customer-grid-item sprite2 nymag first-desktop"></div>
        <div class="columns customer-grid-item sprite2 cars first-tablet"></div>
        <div class="columns customer-grid-item sprite2 lendingtree"></div>
        <div class="columns customer-grid-item sprite2 ign"></div>
        <div class="columns customer-grid-item sprite2 rocketlawyer"></div>
        <div class="columns customer-grid-item sprite2 demand first-desktop first-tablet"></div>
        <div class="columns customer-grid-item sprite2 legalzoom"></div>
        <div class="columns customer-grid-item sprite2 ae"></div>
        <div class="columns customer-grid-item sprite2 yelp"></div>
        <div class="columns customer-grid-item sprite2 livestrong first-tablet"></div>
    </div>
</div>