---
layout: page.hbs
seo_title: Customers
title: "Over 6,000 Happy Customers"
visible_title: Find out who's testing with Optimizely right now
body_class:
- customers-page
---

<div class="customer-grid">
    <div class="row">
        <div class="columns customer-grid-item first-desktop">
            <div class="customer-logo starbucks"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo salesforce"></div>
        </div>
        <div class="columns customer-grid-item fico">
            <div class="customer-logo fico"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo mtv"></div>
        </div>
        <div class="columns customer-grid-item first-tablet">
            <div class="customer-logo abc"></div>
        </div>
        <div class="columns customer-grid-item first-desktop">
            <div class="customer-logo fox"></div>
        </div>
        <div class="columns customer-grid-item ">
            <div class="customer-logo guardian"></div>
        </div>
        <div class="columns customer-grid-item ">
            <div class="customer-logo cbs"></div>
        </div>
        <div class="columns customer-grid-item  first-tablet">
            <div class="customer-logo disney"></div>
        </div>
        <div class="columns customer-grid-item ">
            <div class="customer-logo techcrunch"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo clorox sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo signals sprite2"></div>
        </div>
        <div class="columns customer-grid-item first-tablet">
            <div class="customer-logo mtv ruelala sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo truste sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo taskrabbit sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo nymag sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo cars sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo lendingtree sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo ign sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo rocketlawyer sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo demand sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo legalzoom sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo ae sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo yelp sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo livestrong sprite2"></div>
        </div>
    </div>
</div>