---
layout: jobs.hbs
---

<div class="container benefits">
    <div class="row">
        <h2 class="heading center a-center blue">Why you’ll love it here</h2>
        <ul class="list-unstyled">
          <li id="piggybank" class="">
            <h6>Compensation &amp; Rewards</h6>
            <p>Competitive pay, equity, referral/peer bonuses, and monthly recruiting raffle prizes</p>
          </li>
          <li id="calendar" class="">
            <h6>Rest &amp; Relaxation</h6>
            <p>Paid holidays, unlimited time off, and six weeks of paid parental leave</p>
          </li>
          <li id="health" class="">
            <h6>Healthcare Coverage</h6>
            <p>Premiums covered for you, your dependents, and your spouse or domestic partner</p>
          </li>
          <li id="burger" class="">
            <h6>Meals on Us</h6>
            <p>Catered in-office lunch and dinner on weekdays and a fully stocked kitchen</p>
          </li>
          <li id="bart" class="">
            <h6>Easy to get to</h6>
            <p>Convenient office location, free transit card, and secure bike storage</p>
          </li>
          <li id="apple" class="">
            <h6>Brand New Gear</h6>
            <p>A shiny MacBook Pro or Air, a Thunderbolt Display, and any other gear you need</p>
          </li>
          <li id="heart" class="">
            <h6>Gym Membership</h6>
            <p>Free Crunch Fitness membership or a health and wellness subsidy</p>
          </li>
          <li id="pingpong" class="">
            <h6>We have fun</h6>
            <p>Frequent team outings, game nights, pool, video games, and a ping pong robot</p>
          </li>
        </ul>
    </div>
</div>

<div class="testimonials">
    <div class="container">
        <h4 class="a-center">
            <q>I love my job because I am surrounded by amazing talent and get to work on projects that keep me feeling challenged.</q>      
        </h4>

        <ul class="employee-icons">
            <li>
                <img src="../assets/img/jobs/bradley.jpg">
                <h5 class="name">Bradley</h5>
                <h6 class="employee-title">Sales</h6>
            </li>
            <li>
                <img src="../assets/img/jobs/bradley.jpg">
                <h5 class="name">Bradley</h5>
                <h6 class="employee-title">Sales</h6>
            </li>
            <li>
                <img src="../assets/img/jobs/bradley.jpg">
                <h5 class="name">Bradley</h5>
                <h6 class="employee-title">Sales</h6>
            </li>
            <li>
                <img src="../assets/img/jobs/bradley.jpg">
                <h5 class="name">Bradley</h5>
                <h6 class="employee-title">Sales</h6>
            </li>
        </ul>
    </div>
</div>

<div class="jobs-list">
    <div class="container">
        <div class="row">
            <div class="columns ten offset-one">
                <h2 class="a-center blue">All Job Openings</h2>
                <h4 class="department-title">Customer Success</h4>
                <ul>
                    <li>
                        <a href="" target="_blank">
                            <span class="job-title">Business Analyst</span>
                            <span class="job-location">Amsterdam, Netherlands</span>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <span class="job-title">Business Analyst</span>
                            <span class="job-location">Amsterdam, Netherlands</span>
                        </a>
                    </li>
                </ul>
                <h4 class="department-title">Customer Success</h4>
                <ul>
                    <li>
                        <a href="" target="_blank">
                            <span class="job-title">Business Analyst</span>
                            <span class="job-location">Amsterdam, Netherlands</span>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <span class="job-title">Business Analyst</span>
                            <span class="job-location">Amsterdam, Netherlands</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>