---
layout: jobs.hbs
page_script: jobs.js
---

<div class="container benefits">
    <div class="row">
        <h2 class="heading center a-center blue">Why you’ll love it here</h2>
        <ul class="list-unstyled">
          <li id="piggybank">
            <h6>Compensation &amp; Rewards</h6>
            <p>Competitive pay, equity, referral/peer bonuses, and monthly recruiting raffle prizes</p>
          </li>
          <li id="calendar">
            <h6>Rest &amp; Relaxation</h6>
            <p>Paid holidays, unlimited time off, and six weeks of paid parental leave</p>
          </li>
          <li id="health">
            <h6>Healthcare Coverage</h6>
            <p>Premiums covered for you, your dependents, and your spouse or domestic partner</p>
          </li>
          <li id="burger">
            <h6>Meals on Us</h6>
            <p>Catered in-office lunch and dinner on weekdays and a fully stocked kitchen</p>
          </li>
          <li id="bart">
            <h6>Easy to get to</h6>
            <p>Convenient office location, free transit card, and secure bike storage</p>
          </li>
          <li id="apple">
            <h6>Brand New Gear</h6>
            <p>A shiny MacBook Pro or Air, a Thunderbolt Display, and any other gear you need</p>
          </li>
          <li id="heart">
            <h6>Gym Membership</h6>
            <p>Free Crunch Fitness membership or a health and wellness subsidy</p>
          </li>
          <li id="pingpong">
            <h6>We have fun</h6>
            <p>Frequent team outings, game nights, pool, video games, and a ping pong robot</p>
          </li>
        </ul>
    </div>
</div>

<div class="testimonials">
    <div class="container">
        <h4 class="a-center quotes">
            {{#each quotes.employee_testimonials}}
            <q>{{quote}}</q>
            {{/each}}  
        </h4>

        <ul class="employee-icons">
            {{#each quotes.employee_testimonials}}
            <li>
                <a href="#">
                    <img src="{{image}}">
                    <h5 class="name">{{name}}</h5>
                    <h6 class="employee-title">{{title}}</h6>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="jobs-list" id="jobs-list">
    <div class="container">
        <div class="row">
            <div class="columns ten offset-one">
                <h2 class="a-center blue">All Job Openings</h2>
                <h4 class="department-title">Customer Success</h4>
                <ul>
                    <li>
                        <a href="" target="_blank">
                            <span class="job-title">Business Analyst</span>
                            <span class="job-location">Amsterdam, Netherlands</span>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <span class="job-title">Business Analyst</span>
                            <span class="job-location">Amsterdam, Netherlands</span>
                        </a>
                    </li>
                </ul>
                <h4 class="department-title">Customer Success</h4>
                <ul>
                    <li>
                        <a href="" target="_blank">
                            <span class="job-title">Business Analyst</span>
                            <span class="job-location">Amsterdam, Netherlands</span>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <span class="job-title">Business Analyst</span>
                            <span class="job-location">Amsterdam, Netherlands</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>