---
layout: benefits.hbs
seo_title: E-commerce
visible_title: E-commerce
body_class:
- ecommerce-page
---

<h2 class="subheading">Unlock customer insights, convert more shoppers</h2>

<div class="row">
    <div class="columns seven">
        <p>Optimizely's e-commerce solutions provide the tools to capture real-time customer insights that drive increased conversions and fuller shopping carts at checkout.</p>
        <h5>Highlights:</h5>
        <ul>
            <li>Optimize for revenue and custom conversion goals</li>
            <li>One-click integration with Google Analytics, SiteCatalyst and more</li>
            <li>Easily test changes across multiple pages (e.g. product detail pages)</li>
            <li>Optimize your entire conversion funnel</li>
            <li>Target custom visitor audiences (e.g. paid traffic, geography, etc.)</li>
            <li>WYSIWYG, no-coding-required editor for building test variations</li>
            <li>A/B and Multivariate testing</li>
            <li>Real-time reporting tools and dashboards</li>
            <li>World-class support and resources for training and implementation</li>
            <li>Fast and reliable tools and technology</li>
            <li>Custom HTML/Javascript/CSS</li>
            <li><em>And much more...</em></li>
        </ul>
        <p>Optimizely's powerful visual editor makes each element on every page in the shopping funnel editable, quickly turning ideas for new creative, campaigns,
        landing pages, offer text, product page designs and more into highly targeted, personalized and optimized customer experiences.</p>
        <p><strong>Learn More: </strong><a href="{{linkPath}}/benefits">Benefits of A/B and Multivariate Testing</a>.</p>
    </div>
    <div class="columns five">
        {{> contact_form }}
    </div>
</div>
