---
layout: mobile.hbs
seo_title: Optimizely for iOS
visible_title: Optimizely Solutions Partners
sub_head: World-class service providers. Empowered customers. Lasting results.
body_class:
- ios
page_script: mobile.js
script_dependencies:
- '/dist/assets/js/libraries/magnific.js'
- '/dist/assets/js/libraries/waypoints.js'
---

<div id="top">
  <div class="container">
    <header class="clearfix ios-logo-cont">
      <p class="logo"><a href="/">Optimizely</a></p>
    </header>
  </div>
  <section id="hero">
    <h1>Fast and scalable A/B testing for iOS apps.</h1>
    <h2>Submit once. Iterate daily.</h2>
    {{!-- <a href="https://www.youtube.com/watch?v=EhuGaDJXqFI" id="video">Watch video</a> --}}
    <a href="/signin?signup=true&signup_platform=ios&continue_to=/dashboard?show_code=true&utm_campaign=iosplatform" class="sign-up-btn">Sign up &raquo;</a>
    <p>Already a customer? <a href="http://developers.optimizely.com/ios/">Get started</a></p>

    <div id="down"></div>
  </section>
</div>
<div role="main">
  <main>
    <section id="visual-changes-features" class="gray-section light">
      <div class="container">
        <div class="section-container">
          <h2>Faster than you can say <b><q>Optimization</q></b></h2>
          <p>Make visual changes to your app on the fly using Optimizely's code-free visual editor. Push changes to the app without waiting for App Store review.</p>
        </div>
        <div id="visual-changes-demo">
          <span id="visual-change-photo" class="a"></span>
          <span id="visual-change-button">Book it now!</span>
          <div id="visual-change-options">
            <div id="visual-change-image" class="change-option">
              <p>Image</p>
              <div class="visual-slider-cont a" id="visual-change-slider">
                <span class="left-label">a</span>
                <span class="right-label">b</span>
                <span class="slider"></span>
              </div>
              <span id="visual-change-image-slider"></span>
            </div>
            <div id="visual-change-button-text" class="change-option">
              <p>Button text</p>
              <input id="visual-change-input" type="text" placeholder="Book it now!">
            </div>
            <div id="visual-change-button-color" class="change-option">
              <p>Button color</p>
              <div id="visual-change-color" class="clearfix">
                <a href="#" id="visual-change-blue" class="color-btn"></a>
                <a href="#" id="visual-change-green" class="color-btn"></a>
                <a href="#" id="visual-change-orange" class="color-btn"></a>
              </div>
            </div>
          </div>
        </div>
        <div id="visual-changes-icons" class="feature-container">
          <div id="visual-changes" class="feature">
            <h3>Visual changes</h3>
            <p>Make visual changes to your app in real time. No code required.</p>
          </div>
          <div id="starts-seconds" class="feature">
            <h3>Starts in seconds</h3>
            <p>One-time installation lets you get set up in seconds.</p>
          </div>
          <div id="instant-rollout" class="feature">
            <h3>Instant rollout</h3>
            <p>Roll out visual changes immediately without waiting for App Store review.</p>
          </div><!--#instant-rollout-->
        </div>
    </div>
    </section>
    <section id="flexible-powerful" class="blue-section">
      <div class="container a">
        <div class="section-container">
          <h2><b>Flexible</b> and <b>powerful</b> developer tools.</h2>
          <p>Stop compromising between speed and power. Optimizely’s simple developer tools make it easy to optimize even the most custom features.</p>
        </div>
        <div id="flexible-powerful-image"></div>
        <div class="visual-slider-cont a" id="flexible-powerful-slider">
          <span class="left-label">a</span>
          <span class="right-label">b</span>
          <span class="slider"></span>
        </div>
        <div class="feature-container clearfix">
          <div id="live-variables" class="feature">
            <h3>Live variables</h3>
            <p>Make on-the-fly changes to variables integrated into your app.</p>
          </div>
          <div id="web-mobile" class="feature">
            <h3>Web &amp; mobile</h3>
            <p>Optimize and deliver personalized experiences across your website and mobile app using the same platform.</p>
          </div>
          <div id="code-blocks" class="feature">
            <h3>Code blocks</h3>
            <p>Test entirely custom features and designs and then gradually roll them out to users.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="trusted" class="light">
      <div class="container">
        <div class="section-container">
          <h2>The most trusted and scalable optimization platform in the world.</h2>
          <p>Optimizely for iOS is built in the world's #1 optimization platform, trust by more than 6,000 customers globally.</p>
        </div>
        <div id="deploy-cont">
          <div id="deploy-graphic-cont">
            <div id="deployed-graphic"></div>
          </div>
          <a href="#" id="deploy-btn">Deploy winning variation</a>
        </div>
        <div class="feature-container">
          <div class="feature" id="world-class">
            <h3>World-class analytics platform</h3>
            <p>Select goals seamlessly with a tap of your finger. Then, determine winners and roll them out with a single click.</p>
          </div>
          <div class="feature" id="incredibly-responsive">
            <h3>Incredibly responsive</h3>
            <p>Rest easily knowing your experiments are being delivered quickly and reliably via Optimizely's one-of-a-kind CDN architecture.</p>
          </div>
          <div class="feature" id="enterprise-scale-startup-speed">
            <h3>Enterprise scale at startup speed</h3>
            <p>Optimizely is already trusted by more than 6,000 of the world's top companies, including CNN, Yelp, Starbucks, and many more.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="signup-bottom">
      <h2>Sign up for <br>Optimizely iOS beta</h2>
      <a href="/signin?signup=true&signup_platform=ios&continue_to=/dashboard?show_code=true&utm_campaign=iosplatform" class="sign-up-btn">Sign up &raquo;</a>
      <p>Already a customer? <a href="http://developers.optimizely.com/ios/">Get started</a></p>

    </section>
  </main>
</div>
<div id="preload-airbnb-img" class="preload"></div>
<div id="preload-hipmunk-img" class="preload"></div>
<div id="preload-deploy-img" class="preload"></div>
