input[type=text], input[type=url], input[type=tel], input[type=email] {
  border: 1px solid #c9c9c9;
  font-weight: 400;
  padding: 4px;
  color: #242424;
  font-size: .93em;
  min-height: 38px;
  width: 100%;
}

@media only screen and (min-width: $desktop-min-width){
  input[type=text], input[type=url], input[type=tel], input[type=email] {
    width: auto;
  }
}
