header {
    background: #052f60;
}
.nav {
    padding: 0;
    li {
        list-style-type: none;
    }
    p, a {
        color: #fff;
    }
    a {
        text-decoration: none;
    }
}
@media only screen and (max-width: 59.99em) {
    body {
        background: #052f60;
    }
    header {
        padding-bottom: 10px;
        nav {
            text-align: left;
            position: absolute;
            left: -80%;
            height: 100%;
            top: 0;
            width: 0;
            background: #052f60;
        }
        nav:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 34px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        }
        .logo-cont {
            margin: -36px auto;
            .logo {
                background-size: 130px 28px;
                width: 130px;
                height: 28px;
            }
        }
    }
    #outer-wrapper {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    #inner-wrapper {
        position: relative;
        width: 100%;
        transform: translate(0);
        transition: transform .2s;
    }
    #nav-menu {
        color: #fff;
        text-decoration: none;
        font-size: .8em;
        line-height: .8em;
        display: block;
        font-weight: 100;
        text-transform: uppercase;
        float: left;
        margin: 20px 0 0 5px;
        padding: 9px 5px 7px 5px;
        /*width: 35px;*/
        background-size: 35px 35px;
        /*background: image-url('menu.svg') center center no-repeat;*/
        text-align: center;
        border: 1px solid #fff;
        border-radius: 3px;
    }
    #main-nav > li {
        border-bottom: 1px solid #042142;
        border-top: 1px solid #08448a;
        overflow: hidden;
    }
    #main-nav > li.first {
        border-top: 0;
    }
    #main-nav {
        margin: 0;
        p, a {
            padding: 15px 0 15px 22px;
            margin: 0;
            display: block;
            font-size: 1.1em;
        }
        ul {
            transition: max-height .2s;
            margin: 0;
            padding: 0 0 0 10px;
            a {
                font-size: .8em;
                font-weight: 100;
            }
        }
    }
    body.mobile-nav-ready #main-nav ul:not(.active) {
        max-height: 0!important;
    }
    #main-nav p {
        position: relative;
    }
    #main-nav p:after {
        content: "";
        position: absolute;
        height: 15px;
        width: 15px;
        background: image-url('arrow.svg');
        position: absolute;
        left: 5px;
        top: 17px;
        transform: translate(0);
        transition: transform 50ms;
    }
    #main-nav > li.active p:after {
        transform: rotate(90deg);
    }
    li li {
        a {

        }
    }
    #user-nav-cont {
        display: block;
        height: 35px;
        width: 35px;
        float: right;
        margin: 0;
        text-align: right;
        padding: 22px 10px 0 10px;
    }
    #user-icon {
        height: 25px;
        width: 25px;
    }
    #user-icon-path {
        fill: #fff;
    }
    #utility-nav-cont:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 34px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    }
    #utility-nav-cont {
        right: -80%;
        height: 100%;
        top: 0;
        width: 0;
        position: absolute;
        text-align: left;
        box-sizing: border-box;
    }
    body.nav-open {
        #inner-wrapper {
            transform: translate(80%);
        }
        nav {
            width: 80%;
        }
    }
    body.user-nav-open {
        #inner-wrapper {
            transform: translate(-80%);
        }
        #utility-nav-cont {
            width: 80%;
        }
    }

    body.compact-header {
      header {
        padding: 5px 0;
        .logo-cont {
          padding: 0;
          margin: 10px auto;
        }
      }
    }
}

@media only screen and (min-width: $desktop-min-width) {
  .container {
      position: relative;
  }
  #nav-menu, #user-nav-cont {
      display: none;
  }
  header {
      ul {
          text-align: right;
          padding: 0;
          margin: 0;
      }
      li {
          display: inline-block;
      }
      ul ul {
          display: none;
          background: linear-gradient(to bottom, #00558d 0%,#006eb6 15%,#006eb6 100%);
      }
      background:
          image-url('bg-top-header.png') repeat-x,
          image-url('bg-header.png');
  }
  #top-nav-cont {border-bottom: 1px solid #104682;}
  .logo-cont {
      position: absolute;
      left: 0;
      bottom: 0;
  }
  .utility-nav {
      margin: 0;
      a {
          font-size: .8em;
          font-weight: normal;
          padding: 12px;
          display: block;
      }
      a:hover {
          background: $nav-hover-color;
      }
  }
  #main-nav {
      p {
          margin: 0;
          cursor: pointer;
      }
      > li {
          border-top: 4px solid transparent;
          position: relative;
          > a, > p {
              font-weight: 500;
              padding: 1.1em 1.3em;
              display: block;
              font-size: 1em;
              line-height: 1.4em;
          }
          ul {
              position: absolute;
              top: 50px;
              z-index: 5;
              max-height: auto!important;
              min-width: 210px;
              text-align: left;
              padding: 10px 0;
              z-index: 20;
              li {
                  width: 100%;
              }
              a {
                  padding: 0.4em 1.5em;
                  width: 100%;
                  display: block;
                  box-sizing: border-box;
                  font-size: .8em;
                  font-weight: 300;
              }
              a:hover {
                  background-color: #3385d6;
              }
          }
      }
      > li:hover {
          ul {display: block!important;}
          border-top: 4px solid $nav-hover-color;
      }
  }
  body.compact-header {
    header {
      background: #006eb6;
      .logo-cont {
        float: left;
        position: static;
      }
    }
  }
}
