<div class="box clearfix">
    <h4 class="a-center">Questions? Contact us.</h4>
    <form id="contact-form" class="standard" autocomplete="off" novalidate="novalidate">
      <ul class="list-unstyled">
        <li>
          <label for="name">
            <span class="required">Name</span>
            <input class="required" data-bind="value: name" id="name" name="name" required="" type="text">
          </label>
        </li>
        <li>
          <label for="email">
            <span class="required">E-mail</span>
            <input class="required email" data-bind="value: email" id="email" name="email" required="" type="email">
          </label>
        </li>
        <li>
          <label for="company">
            <span>Company</span>
            <input data-bind="value: company" id="company" name="company" type="text">
          </label>
        </li>
        <li>
          <label for="website">
            <span>Website</span>
            <input data-bind="value: website" id="website" name="website" type="text">
          </label>
        </li>
        <li>
          <div class="label half left">
            <span>Monthly Visitors <a href="#" class="help-button" data-toggle="tooltip" tabindex="-1" title="" data-original-title="This is the sum across all your clients."></a></span>
            <select data-bind="value: traffic" id="traffic" name="traffic" tabindex="1">
              <option value="">Select an option...</option>
              <option value="0 - 20k Monthly Visitors">0 to 20k</option>
              <option value="20k - 200k Monthly Visitors">20k to 200k</option>
              <option value="200k - 2MM Monthly Visitors">200k to 2MM</option>
              <option value="2m - 10MM Monthly Visitors">2MM to 10MM</option>
              <option value="10MM - 50MM Monthly Visitors">10MM to 50MM</option>
              <option value="50MM + Monthly Visitors">50MM+</option>
            </select>
          </div>
          <span class="half right">
            <label for="phone">
              <span>Phone</span>
              <input data-bind="value: phone" id="phone" name="phone" type="text">
            </label>
          </span>
        </li>
        <li class="a-right clearfix submit-cont" data-bind="visible: status() !== 'sent'">
          <button class="button small" data-bind="disable: status() === 'sending',
                             css: { disabled: status() === 'sending' }" type="submit">
            Submit
          </button>
        </li>
        <li data-bind="visible: status() === 'sent'" style="display: none;">
          Thanks for contacting us! We'll be in touch shortly!
        </li>
      </ul>
    </form>
  </div>