<div id="contact-form" class="box clearfix">
    <h4 class="a-center">{{#if page.form_heading}}{{page.form_heading}}{{else}}Questions? Contact us.{{/if}}</h4>
    <form id="contact-form" class="standard" autocomplete="off" novalidate="novalidate">
      <ul class="list-unstyled">
        <li>
          <label for="name">Name</label>
          <input class="required" id="name" name="name" required="" type="text">
        </li>
        <li>
          <label for="email">E-mail</label>
          <input class="required email" id="email" name="email" required="" type="email">
        </li>
        <li>
          <label for="company">Company</label>
          <input id="company" name="company" type="text">
        </li>
        <li>
          <label for="website">Website</label>
          <input id="website" name="website" type="text">
        </li>
        <li class="form-neighbors first">
          <label> 
            Monthly Visitors<div title="This is the Sum Across All Your Clients" data-tooltip>?</div>
          </label>
          <select id="traffic" name="traffic" tabindex="1">
            <option value="">Select an option...</option>
            <option value="0 - 20k Monthly Visitors">0 to 20k</option>
            <option value="20k - 200k Monthly Visitors">20k to 200k</option>
            <option value="200k - 2MM Monthly Visitors">200k to 2MM</option>
            <option value="2m - 10MM Monthly Visitors">2MM to 10MM</option>
            <option value="10MM - 50MM Monthly Visitors">10MM to 50MM</option>
            <option value="50MM + Monthly Visitors">50MM+</option>
          </select>
        </li>
        <li class="form-neighbors last">
          <label for="phone">Phone</label>
          <input id="phone" name="phone" type="text">
        </li>
        <li class="a-right clearfix submit-cont">
          <button class="button small" type="submit">
            Submit
          </button>
        </li>
        <li style="display: none;">
          Thanks for contacting us! We'll be in touch shortly!
        </li>
      </ul>
    </form>
  </div>