<div id="signup-dialog" class="modal-dialog-container" data-optly-modal="signup">
    <div class="dialog narrow">
         <div class="modal-header">
            <p class="normal-header header-h1">Create a free account</p>
            
                <p>
                    <span class="dynamic-content">You&#x27;re seconds away from running A/B tests!</span>
                    <!-- <span class="optiverse-dynamic-content">By creating an account you can post in Optiverse and test drive Optimizely</span> -->
                </p>
            
        </div>
        <form action="/account/create" method="POST" autocomplete="off">
            <div class="modal-form-content">
            
              <label id="name-label">
                  <span>Name</span>
                  <input type="text" name="name" />
              </label>
              <label>
                  <span>Work email address</span>
                  <input type="text" name="email" />
              </label>
              <label>
                  <span>Password</span>
                  <h5 class="password-req">Must use at least 8 characters and a mix of upper/lowercase letters, numbers or symbols</h5>
                  <input type="password" name="password1" class="password1" />
              </label>
              <label>
                  <span>Confirm password</span>
                  <input type="password" name="password2" />
              </label>
              <label id="phone-label">
                  <span>Phone number</span>
                  <input type="text" name="phone_number" />
              </label>
              <div class="terms">
                  <input type="checkbox" name="terms-of-service" />
                  <p>
                      I agree to the <a href="/dist/terms" target="_blank">Terms of Service</a> and <a href="/dist/privacy" target="_blank">Privacy Policy</a>.
                  </p>
              </div>
              <!-- <input id="hidden" type="hidden" name="hidden" value="" /> -->
              <div class="options">
                  <p>Already have an Optimizely account? <a class="show-sign-in">Sign in here</a></p>
              </div>

            </div><!--/.modal-form-content-->
            <div class="modal-footer">
                <div class="buttons">
                    <input type="submit" class="primary-button submit-btn translate" value="Create account &raquo;">
                    <input type="button" data-modal-btn="close" class="secondary-button close-btn translate" value="Cancel">
                </div>
            </div>
        </form>
    </div>
</div> <!-- end .modal-dialog-container -->
