<div id="webinar-signup-modal" class="modal-dialog-container webinar-modal" data-optly-modal="webinar-signup">
    <div class="dialog narrow">
        <form action="/webinar/register" method="POST" autocomplete="off" id="webinar-registration-form">
            
            <div class="modal-header">
                <p class="normal-header header-h1">Webinar Signup</p>
                
            </div><!--/.modal-header-->
            
            <div class="modal-body">
                
          <div id="webinar-info-cont" class="clearfix">
            <div class="left">
              <p>Selected date:</p>
            </div>
            <div class="right">
              <div class="webinar-detail-info">
  <h4>Live Optimizely Walkthrough</h4>
  <p class="webinar-date">Thursday, <span id="date-string">July 31</span></p>
  <p class="webinar-time">11 <span class="small-caps">AM</span> PST / 2 <span class="small-caps">PM</span> EST</p>
  <p class="webinar-cal-links"><a href="">Google Calendar</a> | <a href="">iCal</a> | <a href="">Outlook</a></p>
</div>

            </div>
          </div>
          <label for="name">Name: </label>
          <input type="text" id="name" name="name"></input>
          <label>Email: </label>
          <input type="email" id="email" name="email"></input>
          <input type="hidden" name="WebinarRegistrationDate" id="date-long" value="">
          <input type="hidden" name="lpId" value="-1">
          <input type="hidden" name="subId" value="56">
          <input type="hidden" name="FirstName" value="">
          <input type="hidden" name="LastName" value="">

            </div><!--/.modal-body-->
            <div class="modal-footer">
                <input type="submit" class="primary-button submit-btn translate" value="Register &raquo;">
                <input type="button" data-modal-btn="close" class="secondary-button close-btn translate" value="Cancel">
            </div><!--/.modal-footer-->
        </form>
    </div><!--/.dialog.narrow-->
</div> <!-- end .modal-dialog-container -->
