<div id="webinar-confirmation-modal" class="modal-dialog-container webinar-modal" data-optly-modal="webinar-confirmation">
    <div class="dialog narrow">
        
            
            <div class="modal-header">
                <p class="normal-header header-h1">Thank you!</p>
                
            </div><!--/.modal-header-->
            
            <div class="modal-body">
                
          <div class="webinar-info-cont">
            <div class="left">
              <p>Confirmed date:</p>
            </div>
            <div class="right webinar-info">
              <div class="webinar-detail-info"></div>
            </div>
          </div>
          <p style="clear: both;">You will receive an email with all the information you'll need to join the meeting. We are excited to walk you through the features of our website testing solution.</p>

            </div><!--/.modal-body-->
            <div class="modal-footer no-primary-button">
                
                
                <input type="button" data-modal-btn="close" class="secondary-button close-btn translate" value="Close">
                
            </div><!--/.modal-footer-->
        
    </div><!--/.dialog.narrow-->
</div> <!-- end .modal-dialog-container -->
