<div id="webinar-confirmation-modal" class="modal-dialog-container webinar-modal" data-optly-modal="webinar-confirmation">
    <div class="dialog narrow">
        
            
            <div class="modal-header">
                <p class="normal-header header-h1">Thank you!</p>
                
            </div><!--/.modal-header-->
            
            <div class="modal-body">
                
          <div id="webinar-info-cont" class="clearfix">
            <div class="left">
              <p>Selected date:</p>
            </div>
            <div class="right">
              <div class="webinar-detail-info">
  <h4>Live Optimizely Walkthrough</h4>
  <p class="webinar-date">Thursday, <span id="date-string">July 31</span></p>
  <p class="webinar-time">11 <span class="small-caps">AM</span> PST / 2 <span class="small-caps">PM</span> EST</p>
  <p class="webinar-cal-links"><a href="">Google Calendar</a> | <a href="">iCal</a> | <a href="">Outlook</a></p>
</div>

            </div>
          </div>
          <p>You will receive an email with all the information you'll need to join the meeting. We are excited to walk you through the features of our website testing solution.</p>

            </div><!--/.modal-body-->
            <div class="modal-footer no-primary-button">
                
                <input type="button" data-modal-btn="close" class="secondary-button close-btn translate" value="Close">
            </div><!--/.modal-footer-->
        
    </div><!--/.dialog.narrow-->
</div> <!-- end .modal-dialog-container -->
