<div id="webinar-signup-modal" class="modal-dialog-container" data-optly-modal="webinar-signup">
    <div class="dialog narrow">
        
            
            <div class="modal-header">
                <p class="normal-header header-h1">Webinar Signup</p>
                <p>This is a test!</p>
            </div><!--/.modal-header-->
            
            <div class="modal-body">
                

<p>This is modal content!</p>

            </div><!--/.modal-body-->
            <div class="modal-footer">
                <input type="submit" class="primary-button submit-btn translate" value="Register &raquo;">
                <input type="button" data-modal-btn="close" class="secondary-button close-btn translate" value="Cancel">
            </div><!--/.modal-footer-->
        
    </div><!--/.dialog.narrow-->
</div> <!-- end .modal-dialog-container -->
