<div id="webinar-signup-modal" class="modal-dialog-container webinar-modal optly-anim optly-hide" data-optly-modal="webinar-signup">
    <div class="dialog narrow">
        <form action="/webinar/register" method="POST" autocomplete="off" id="webinar-registration-form" novalidate>
            
            <div class="modal-header">
                <p class="normal-header header-h1">Webinar Signup</p>
                
            </div><!--/.modal-header-->
            
            <div class="modal-body">
                
          <div class="webinar-info-cont">
            <div class="left">
              <p>Selected date:</p>
            </div>
            <div class="right webinar-info">
              <div class="webinar-detail-info"></div>
            </div>
          </div>
          <p class="error-message error-hide">Please correct the error(s) below.</p>
          <div class="clearfix" style="clear: both;">
            <div class="form-label">
              <p class="name-related validation-error-message error-hide">Name is required</p>
              <label for="name">Name: </label>
            </div>
            <input type="text" id="name" name="name" required></input>
            <div class="form-label">
              <label>Email: </label>
              <p class="email-related validation-error-message error-hide">Email is required</p>
            </div>
            <input type="email" id="email" name="email" required></input>
            <input type="hidden" name="WebinarRegistrationDate" id="date-long" value="">
            <input type="hidden" name="lpId" value="-1">
            <input type="hidden" name="subId" value="56">
            <input type="hidden" name="FirstName" value="">
            <input type="hidden" name="LastName" value="">
          </div>

            </div><!--/.modal-body-->
            <div class="modal-footer">
                
                <input type="submit" class="primary-button submit-btn translate" data-modal-btn="signin" value="Register &raquo;">
                
                
                <input type="button" data-modal-btn="close" class="secondary-button close-btn translate" value="Cancel">
                
            </div><!--/.modal-footer-->
        </form>
    </div><!--/.dialog.narrow-->
</div> <!-- end .modal-dialog-container -->
