<div id="webinar-signup-modal" class="modal-dialog-container" data-optly-modal="webinar-signup">
    <div class="dialog narrow">
         <div class="modal-header">
            <p class="normal-header header-h1">Webinar Signup</p>
            
        </div>
        
          <div id="webinar-info-cont" class="clearfix">
            <div class="left">
              <p>Selected date:</p>
            </div>
            <div class="right">
              <h5>Live Optimizely Walkthrough</h5>
              <p class="webinar-date">Thursday, July 31</p>
              <p class="webinar-time">11 <span class="small-caps">AM</span> PST / 2 <span class="small-caps">PM</span> EST</p>
              <p class="webinar-cal-links"><a>Google Calendar</a> | <a>iCal</a> | <a>Outlook</a></p>
            </div>
          </div>
          <form>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name"></input>
            <label>Email: </label>
            <input type="email" id="email" name="email"></input>
          </form>

    </div>
</div> <!-- end .modal-dialog-container -->
