<div class="webinar-detail-info">
  <h4>Live Optimizely Walkthrough</h4>
  <p class="webinar-date">Thursday, <span id="date-string">July 31</span></p>
  <p class="webinar-time">11 <span class="small-caps">AM</span> PST / 2 <span class="small-caps">PM</span> EST</p>
  <p class="webinar-cal-links"><a href="">Google Calendar</a> | <a href="">iCal</a> | <a href="">Outlook</a></p>
</div>
