---
layout:
seo_title:
visible_title:
body_class:
---
{{!--columns if you want them--}}
<div class="row">
  <div class="columns nine">

  </div><!--/.columns-->
  <div class="columns three">

</div><!--/.columns-->
</div><!--/.row-->
