<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <script src="/js/jquery.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Optimizely: A/B testing software you'll actually use</title>
        {{!-- Standard meta tags --}}
        <meta name="description" content="Improve conversions through A/B Testing, Split Testing and Multivariate Testing with Optimizely!">
        <meta name="keywords" content="AB test, split test, multivariate testing, conversion rate" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{!-- Facebook meta tags --}}
        <meta property="og:title" content="Optimizely: A/B testing software you'll actually use" />

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/styles.css">
        <script src="/js/modernizr-2.7.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
            <footer>
                <div class="container">
                    <p><a class="logo" href="/">Optimizely</a></p>
                    <div id="footer-nav-cont">
                        <div class="left">
                            <p>&copy 2014, Optimizely. All rights reserved</p>
                            <p><a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a> | <a href="/security">Security</a></p>
                            <p class="social-links">
                                <a href="http://twitter.com/optimizely" class="twitter">Twitter</a>
                                <a href="http://www.facebook.com/optimizely" class="facebook">Facebook</a>
                                <a href="https://plus.google.com/+optimizely/posts" class="google-plus">Google+</a>
                            </p>
                        </div><!--/.left-->
                        <div class="right">
                            <ul>
                                <li>
                                    <h4>Product features &amp; benefits</h4>
                                    <ul>
                                        <li><a href="/pricing">Plans and pricing</a></li>
                                        <li><a href="/benefits">Benefits</a></li>
                                        <li><a href="/mobile">iOS beta</a></li>
                                        <li><a href="/partners">Optimizely for Angencies</a></li>
                                        <li><a href="http://developers.optimizely.com">Optimizely for Developers</a></li>
                                        <li><a href="/ecommerce">Optimizely for e-commerce</a></li>
                                        <li><a href="enterprises">Optimizely for enterprises</a></li>
                                        <li><a href="/publishers">Optimizely for publishers</a></li>
                                        <li><a href="/small-business">Optimizely for small business</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>Customers</h4>
                                    <ul>
                                        <li><a href="/customers">Customer list</a></li>
                                        <li><a href="/customers/customer-stories">Customer stories</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>Resources</h4>
                                    <ul>
                                        <li><a href="/ab-testing">What is a/b testing?</a></li>
                                        <li><a href="/split-testing">What is split testing?</a></li>
                                        <li><a href="/gettingstarted">Getting started</a></li>
                                        <li><a href="/live-demo-webinar">Live demo signup</a></li>
                                        <li><a href="/faq">FAQ</a></li>
                                        <li><a href="http://help.optimizely.com">Knowledge base</a></li>
                                        <li><a href="http://developers.optimizely.com">API documentation</a></li>
                                        <li><a href="http://blog.optimizely.com">Blog</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>About</h4>
                                    <ul>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/jobs">Jobs</a></li>
                                        <li><a href="/press">Press</a></li>
                                        <li><a href="/events">Events</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>Other</h4>
                                    <ul>
                                        <li><a href="http://success.optimizely.com">Customer sucess</a></li>
                                        <li><a href="/demo">Request a demo</a></li>
                                        <li><a href="/opt_out">Opt out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.right-->
                    </div><!--/#footer-nav-cont-->
                    <div id="intl-domains">
                        <ul>
                            <li title="Danish"><a href="https://www.optimizely.dk/">Dansk</a></li>
                            <li><a href="https://www.optimizely.de/" title="German">Deutsch</a></li>
                            <li><a href="https://www.optimizely.com/" title="English">English</a></li>
                            <li><a href="https://www.optimizely.es/" title="Spanish">Español</a></li>
                            <li><a href="https://www.optimizely.fr/" title="French">Français</a></li>
                            <li><a href="https://www.optimizely.it/" title="Italian">Italiano</a></li>
                            <li><a href="https://www.optimizely.jp/" title="Japanese">日本語</a></li>
                            <li><a href="https://www.optimizely.nl/" title="Dutch">Nederlands</a></li>
                            <li><a href="https://www.optimizely.pt/" title="Portuguese">Português</a></li>
                            <li><a href="https://www.optimizely.se/" title="Swedish">Svenska</a></li>
                        </ul>
                    </div>
                </div><!--/.container-->
            </footer>
        </div>

        {{> body }}

        {{!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        --}}
    </body>
</html>