---
layout: wrapper.hbs
layout_body_class:
- jobs-layout
layout_script: false
---

<div id="main">
    <div id="lead-image">
        <div id="jobs-intro" class="a-center box center columns four offset-four">
            <h2>{{jobs.page_header}}</h2>
            <p>{{jobs.page_intro}}</p>
            <a id="view-all-jobs" class="button" href="#jobs-list">{{jobs.view_jobs_button_text}}</a>
        </div>
    </div>
    <div id="page-content">
        {{> body }}
    </div><!--/#content-->
</div><!--/#main-->
