---
layout: wrapper.hbs
layout_body_class:
- jobs-layout
layout_script: false
---

<div id="main">
    <div id="lead-image">
        <div id="jobs-intro" class="a-center box center columns four offset-four">
            <h2>Let’s personalize the web.</h2>
            <p>Join us as we enable everyone to make data-driven decisions and improve the way they show information to the world.
            </p>
            <a id="view-all-jobs" class="button" href="#jobs-list">View All Jobs</a>
        </div>
    </div>
    <div id="page-content">
        {{> body }}
    </div><!--/#content-->
</div><!--/#main-->
