---
layout: wrapper_compiled.hbs
layout_body_class:
- jobs-layout
layout_script: false
---

<div id="main">
    <div id="lead-image">
      {{#if jobs.page_intro}}
        <div id="jobs-intro" class="a-center box center columns four offset-four">
            <h2>{{jobs.page_intro.header}}</h2>
            <p>{{jobs.page_intro.body}}</p>
            <a id="view-all-jobs" class="button" href="#jobs-list">{{jobs.page_intro.button_text}}</a>
        </div>
      {{/if}}
    </div>
    <div id="page-content">
        {{> body }}
    </div><!--/#content-->
</div><!--/#main-->
