---
layout: wrapper_compiled.hbs
layout_script: false
layout_body_class: false
---
<div id="main">
	<div id="page-header">
		<div class="container">
			<h1>{{page.visible_title}}</h1>
			{{#if page.sub_head}}<p>{{page.sub_head}}</p>{{/if}}
		</div><!--/.container-->
	</div><!--/#page-header-->
	<div id="page-header-gradient"></div>
	<div id="page-content">
		<div class="container ugc">
			{{> body }}
		</div><!--/.container-->
	</div><!--/#content-->
</div><!--/#main-->
