---
layout: wrapper_compiled.hbs
layout_script: false
layout_body_class: false
---

<div id="main">
  <div class="container">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="sub-header">
        <div class="center clearfix">
          <h1 class="page-heading left blue darken">Customer Success</h1>
          <ul class="sub-header-nav">
            <li><a href="http://certification.optimizely.com" class="">Certification</a></li>
            <li><a href="http://success.optimizely.com" class="current">Customer Success</a></li>
            <li><a href="http://community.optimizely.com">Optiverse</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron-customer sliderbg">
    <div class="container">
      <div class="row rowheight">
        <div class="slider-text columns eight">World-class support resources and a team of optimization experts </div>
      </div>
    </div>
  </div>
  <div class="jumbotron-customer bgcolor">
    <div class="container">
      <div class="row rowheight-shorter">
        <div class="slider-text1">An arsenal of industry best practices and passionate team of experts who have delighted over 7000 organizations around the world.</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="page-content">
      {{> body }}
    </div>
  </div>
</div>
