---
layout: wrapper_compiled.hbs
layout_script: false
layout_body_class: false
---
<div id="main">
  <div id="page-header">
    <div class="container">
      <h1>{{page.visible_title}}</h1>
      {{#if page.sub_head}}<p>{{page.sub_head}}</p>{{/if}}
    </div><!--/.container-->
  </div><!--/#page-header-->
  <div id="page-header-gradient"></div>
  <div id="page-content">
    <div class="container">
      <div class="row">
        <div class="columns ten offset-one">
          <div class="ugc">{{#omarkdown path=linkPath}}{{> body }}{{/omarkdown}}</div>
        </div>
      </div>
      <div class="row">
        <div class="columns twelve">
          <div class="attention a-center">
            <h5>Start using Optimizely to test your website today!  <a href="/pricing" class="primary-button">View Plans &amp; Pricing</a></h5>
          </div>
        </div>
      </div>
    </div><!--/.container-->
  </div><!--/#content-->
</div><!--/#main-->
