---
layout: simple.hbs
seo_title: "Optimizely: Test it Out"
page_script: free-trial.js
body_class:
- ppc-page
compact_header: true
---
<div class="row">
  <div class="columns six offset-three">
    <div id="ppc-form" class="landing-page-form">
      <h4 class="seo-form-heading">Test it Out for Free</h4>
      <p>Welcome to Optimizely. Sign up for a free account and test out the most popular <span id="symmetry_test">A/B testing tool</span> on the planet!</p>
      <form id="seo-form" class="seo-form" action="/account/free_trial_landing" autocomplete="off" novalidate="novalidate">
        {{!-- Form submit errors get shown here --}}
        <p class="error"></p>
        <input id="utm_medium" type="hidden" name="utm_medium" value="direct">
        <ul>
          <li class="url-input-related">
            <p class="url-input-error-message hidden">Required</p>
            <label for="url">Type in a URL to try it out</label>
            <input id="url" required name="url-input" type="url" required="">
          </li>
          <li class="name-related">
            <p class="name-error-message hidden">Name is required</p>
            <label for="name">Your Name</label>
            <input id="name" required name="name" type="text" required="">
          </li>
          <li>
            <div class="label half left email-related">
              <p class="email-error-message hidden">Required</p>
              <label for="email">Your email - no spam</label>
              <input id="email" required name="email" type="email" required="">
            </div>

            <div class="label half right phone_number-related">
              <p class="phone_number-error-message hidden">Required</p>
              <label for="phone">Phone Number</label>
              <input id="phone" required name="phone_number" type="tel">
            </div>
          </li>
          <li class="terms">
            <label class="checkbox">
              <input type="checkbox" name="terms-of-service" required id="terms">
              I agree to the
              <span id="SL-link-terms" class="SL_swap"><a href="/terms" target="_blank">Terms of Service</a></span> and
              <span id="SL-link-privacy" class="SL_swap"><a href="/privacy" target="_blank">Privacy Policy</a></span>.
            </label>
          </li>
          <li class="a-center">
            <input type="submit" class="button" value="Test it Out">
          </li>
        </ul>
      </form>
    </div><!--/#ppc-form-->
  </div>
</div>
