---
layout: wrapper.hbs
body_class: home-page
---
<div id="cta">
  <div class="container">
    <h1>A/B testing you'll actually use.</h1>
    <form>
      <input type="text" placeholder="Type in a URL to try it out">
      <input type="submit" value="Test it Out &raquo;">
    </form>
  </div><!--/.container-->
</div><!--/#cta-->
