---
layout: wrapper_compiled.hbs
body_class:
- home-page
page_script: index.js
layout_script: false
layout_body_class: false
---
<div id="cta">
  <div class="container">
    <h1>A/B testing you'll actually use.</h1>
    <form id="test-it-out-form" action="/account/create" method="POST">
      <input type="text" placeholder="Type in a URL to try it out">
      <input type="submit" value="Test it Out &raquo;">
    </form>
  </div><!--/.container-->
</div><!--/#cta-->
<div id="touch-cta">
  <h2>Create a free account</h2>
  <p>You're seconds away from running A/B tests!</p>
  <form id="touch-homepage-create-account-form" method="POST" action="/account/create" novalidate>
    {{> create-account-form-contents}}
    <input type="submit" value="Create account &raquo;" class="primary-button submit-btn">
  </form>
</div>
