// TODO(imjared): switch to @dtothefp's new tooltip compon
// creates a snazzy tooltip for use on your favorite questionable element
// example: <span class="tooltip-hover" data-content="tooltip content here">?</span>
// screenshot: https://cloud.githubusercontent.com/assets/525011/3952583/c459c2c0-26e3-11e4-8dea-38fe3e6133e3.png

.tooltip-hover {
  background: #a9a9a9;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  position: relative;
  text-align: center;
  &:hover {
    &:after {
      background: #222;
      box-sizing: border-box;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      color: #fff;
      content: attr(data-content);
      font-size: 12px;
      height: 25px;
      left: -25px;
      line-height: 25px;
      padding: 0 10px;
      position: absolute;
      border-radius: $pill-radius;
      text-shadow: 0 0 5px #000;
      text-align: center;
      top: -30px;
      white-space: nowrap;
      z-index: 10;
    }
    &:before {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      content: '';
      position: absolute;
      background-color: #222;
      height: 15px;
      width: 15px;
      top: -15px;
      left: 0;
      transform: rotate(-45deg);
    }
  }
}
