$navs-to-index: main-nav dropdown-menu-top;
@include z-index-list($navs-to-index);

#signed-in-utility {
    > li:last-child {
    border-bottom: none;
  }
}

.utility-nav {
  margin: 0;
  .hide-in-mobile { display: none; }
  li {
    position: relative;
    border-bottom: 1px solid #042142;
    border-top: 1px solid #08448a;
  }
  a {
    display: block;
    padding: 12px 30px;
    text-align: right;
  }
  #my-account-menu {
    .dropdown-menu-top { width: 100%; }
    li {
      border-bottom: 1px solid #042142;
      border-top: 1px solid #08448a;
    }
    #mobile-top-border {
      width: 100%;
      border-bottom: 1px solid #042142;
    }
    li:first-child,
    li:last-child {
      position: relative;
      border-top: 1px solid #042142;
    }
    li:first-child:before,
    li:last-child:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      border-top: 1px solid #08448a;
      z-index: 9999;
    }
  }
  .customer-email {
    width: 100%;
    display: inline-block;
  }
  #email-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
  }
  .dropdown-menu-top {
    text-align: left;
    .hide-in-mobile { display: none; }
    &.show-dropdown { display: block; }
    li {
      width: 100%;
      display: block;
      border-bottom: 1px solid #042142;
      border-top: 1px solid #08448a;
    }
    #mobile-top-border {
      width: 100%;
      border-bottom: 1px solid #042142;
    }
    li:first-child { border-top: 1px solid #08448a; }
    a { color: #fff; }
    a:hover {
      background: transparent;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .utility-nav {
    .hide-in-mobile { display: inline-block; }
    li { 
      border: none; 
      text-align: left;
    }
    a {
      padding: 12px;
      text-align: left;
    }
    .dropdown-menu-top {
      display: none;
      position: absolute;
      border: 1px solid #d5d5d5;
      background: #fff;
      .hide-in-mobile { display: inline-block; }
      li {
        width: 100%;
        display: block;
        border: none;
      }
      > li {
        border-top: 1px solid rgb(213, 213, 213);
        text-align: center;
      }
      a {
        color: #000;
        font-size: 0.8em;
        text-align: center;
      }
      a:hover { text-decoration: underline; }
      li:first-child { border-top: none; }
    }
    #email-wrapper {
      overflow: visible;
      width: auto;
    }
    #mobile-top-border {
      display: none;
      border: none;
    }
    .dropdown-arrow:after {
      content: '\25be';
      position: relative;
      top: 1px;
      color: #fff;
      padding-left: 2px;
    }
    .last {
      .dropdown-arrow:after { left: 10px; }
    }
    .customer-email { overflow: visible; }
    #experiment-nav-item { position: relative; }
    .show-create-experiment {
      a,
      span {
        display: inline-block;
        color: #006eb6;
      }
      span {
        font-size: 1.2em;
        position: relative;
        top: 2px;
        left: 8px;
      }
    }
    #view-all-experiments-link {
      background: image-url("common.png") no-repeat 33px -70px;
    }
    .experiment-container {
      width: 100%;
      li {
        white-space: nowrap;
        @extend .clearfix;
      }
      a {
        overflow: hidden;
        padding: 16px 12px;
      }
      a:first-child {
        max-width: 300px;
        float: left;
        width: 75%;
        text-align: left;
        text-overflow: ellipsis;
      }
      a:last-child {
        float: right;
        width: 25%; 
        text-align: right;
        color: #aaa;
      }
      a:last-child:hover { color: #444; }
    }
    #my-account-menu {
      li {
        border: none;
      }
      li { text-align: left; }
      li:first-child,
      li:last-child { border: none; }
      li:first-child:before,
      li:last-child:before {display: none!important;}
      a {
        padding: 8px 12px;
        text-align: left;
      }
      .dropdown-menu-top { width: 100%; }
      a { padding: 8px 12px; }
    }
  }
}
