---
layout: faq.hbs
visible_title: Getting Started
body_class:
- getting-started
page_script:
- getting-started.js
---

<h2 class="a-center">Start testing your website with Optimizely today</h2>
<p class="a-center">Get up and running with these five simple steps</p>

<div class="row">
    <div class="slider">
        <ul>
            <li class="clearfix">
                <div class="columns five">
                    <img src="../assets/img/gettingstarted/1.jpg" class="framed">
                </div>
                <div class="columns seven">
                    <h3>Step 1: Enter your URL on Optimizely.com</h3>
                    <p>Simply type your website's URL into the field on the homepage or below and click "Test it Out." Your webpage will immediately load into Optimizely's visual editor, ready for optimization.</p>
                    <p><a href="#" class="nextLink" data-slide="two">Next: Add page variations »</a></p>
                </div>
            </li>
            <li class="clearfix">
                <div class="columns five">
                    <img src="../assets/img/gettingstarted/2.jpg" class="framed">
                </div>
                <div class="columns seven">
                    <h4>Step 2: Add page variations</h4>
                    <p>Change elements on the page using Optimizely's powerful visual editor and easily set up tests on promotions, pricing, sale text, banners, colors and much more in mere seconds.</p>
                    <p><a href="#" class="nextLink" data-slide="three">Next: Set up goals for tracking »</a></p>
                </div>
            </li>
            <li class="clearfix">
                <div class="columns five">
                    <img src="../assets/img/gettingstarted/3.jpg" class="framed">
                </div>
                <div class="columns seven">
                    <h4>Step 3: Set up goals for tracking</h4>
                    <p>Measure clicks, conversions, engagement, revenue or virtually any other custom goal for any page on your site.</p>
                    <p><a href="#" class="nextLink" data-slide="four">Next: Set targeting conditions and allocate traffic »</a></p>
                </div>
            </li>
            <li class="clearfix">
                <div class="columns five">
                    <img src="../assets/img/gettingstarted/4.jpg" class="framed">
                </div>
                <div class="columns seven">
                    <h4>Step 4: Target and allocate</h4>
                    <p>Easily target a test to specific audiences like new versus returning visitors, specific geographies, and more—a virtually endless range of custom targeting.</p>
                    <p><a href="#" class="nextLink" data-slide="five">Next: Launch your experiment »</a></p>
                </div>
            </li>
            <li class="clearfix">
                <div class="columns five">
                    <img src="../assets/img/gettingstarted/5.jpg" class="framed">
                </div>
                <div class="columns seven">
                    <h4>Step 5: Launch, watch, and assess</h4>
                    <p>Real-time results and reporting will show your test performance and let you know when your test reaches statistical significance. From there, implement your changes with confidence.</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="controls">
        <a href="#" data-slide="one">1
            <p>Enter URL</p>
        </a>
        <a href="#" data-slide="two">2
            <p>Add Variations</p>
        </a>
        <a href="#" data-slide="three">3
            <p>Create Goals</p>
        </a>
        <a href="#" data-slide="four">4
            <p>Target &amp; Allocate</p>
        </a>
        <a href="#" data-slide="five">5
            <p>Launch</p>
        </a>
    </div>
</div>

<div class="divider-heading row">
    <h2>Getting Started FAQ</h2>
</div>

<div class="row">
    <div class="columns six">
        <h4>How do I implement the Optimizely snippet?</h4>
        <p>
        Implementing the Optimizely snippet is as easy as a one-time copy and paste of your unique, single line of javascript into your page's html header. <a target="_blank" href="http://www.youtube.com/watch?v=JmTXvCt5i_g">Watch the quick walkthrough video</a>.
        </p>
        <h4>How do I build my first experiment?</h4>
        <p>
        To build an experiment, load the URL of the page you'd like to test in the Optimizely editor.  From there, you can build your page variations using the visual editor and launch your experiment. <a target="_blank" href="http://www.youtube.com/watch?v=pJnpNgd-UdY&amp;" class="SL_hide">Watch the overview video</a>.
        </p>
    </div>
    <div class="columns six">
        <h4>What should I test with Optimizely?</h4>
        <p>
        While there is no magic bullet for what to test that can guarantee a positive result, there are several guiding principles that can help you build out your testing itinerary.  The best place to start is with the end in mind.  Consider your goals and objectives for a particular page, and utilize analytics to key in on areas for possible improvement. For a great way to jumpstart the development of your testing plan, you can <a target="_blank" href="http://www.youtube.com/watch?v=7xV7dlwMChc">watch our Best Practices and Lessons Learned overview</a>, which aims to share our key takeaways from tens of thousands of Optimizely tests.
        </p>
    </div>
</div>

<div class="divider-heading row">
    <h2>Start Using Optimizely</h2>
</div>

<div class="row">
    <div class="callout cta columns ten offset-one">
        <form action="#">
            <label for="url-input">Type in a URL to try it out</label>
            <input type="text" name="url-input" class="url-input" placeholder="Type in a URL to try it out">
            <button type="submit" class="primary-button right">Test it Out</button>
        </form>
    </div>
</div>
