body.about-page {
	
	#about-company-headline {
		text-align: center;
		font-size: 1.5em;
	}

	#about-company-headline, #about-optimizely-cont {margin-bottom: 35px;}

	#the-highlights {

		padding-top: 15px;

	}

}

@media only screen and (min-width: $tablet-min-width) {

	body.about-page {

		#the-highlights {
			h5 {
				margin: 0;
			}
			ul {
				margin-left: 20px;
				font-size: 0.8em;
				font-weight: 100;
				line-height: 1.5em;
			}
		}

	}

}

@media only screen and (min-width: $desktop-min-width) {

	body.about-page {

		#about-optimizely-cont:after {

			@include shadow(top);

		}

	}

}