body.benefits-page {

  .super {
    display: none;
  }

  #page-header {
    h1 {
      line-height: 55px;
    }
  }

  .subheading {
    margin-bottom: 8px;
  }

  h5 {
    margin: 0;
  }

  .graphic {
    height: 275px;
    width: 100%;
    background-image: image-url('benefits/sprite.png');
    background-position: 50% 0;
    background-repeat: no-repeat;

    &.actionable-data {
      height: 210px;
    }

    &.ideas-to-life {
      height: 332px;
      background-position: 50% -735px;
    }

    &.track {
      background-position: 50% -2327px;
    }

    &.maintain-control {
      background-position: 50% -1067px;
    }

    &.your-terms {
      background-position: 50% -2052px;
    }

    &.tailored {
      height: 240px;
      background-position: 50% -1812px;
    }

    &.notacoder {
      height: 260px;
      background-position: 50% -1342px;
    }

    &.revenue-now {
      height: 210px;
      background-position: 50% -1602px;
    }

    &.winning {
      height: 250px;
      background-position: 50% -485px;
    }

    &.customize {
      background-position: 50% -210px;
    }
  }

  .benefits-copy {
    h3 {
      color: #006eb6;
    }
  }

  /* subnav link */
  .benefits {
    font-weight: 500;
    color: #0053a7;
  }
}

@media screen and (min-width: $tablet-min-width) {
  body.benefits-page {

    .benefits-main {
      .row {
        background: image-url('benefits/bg-feature.png') no-repeat center 100%;
        padding: 30px 0;
      }
    }

    .benefits-copy {
      &.revenue-now {
        p, h3 {
          padding-right: 20px;
        }
      }
    }
  }
}
