body.contact-page {
  .contact-container {
    margin-top: 40px;
    p {
      font-size: 0.9em;
      color: #6b6b6b;
    }
  }
  h4,
  h5 {margin: 0 0 10px 0;}
  .lede-image {display: none;}
  h5 {color: #444;}
  .departments {
    margin: 20px 0;
    font-size: 0.9em;
    a {
      font-size: 0.9em;
    }
  }
  .offices {
    div {
      margin-bottom: 20px;
    }
    strong {
      font-weight: 500;
      font-size: 0.9em;
      color: #6b6b6b;
    }
    p {
      margin: 0;
    }
  }
  .addresses {
    > p:nth-child(2) {
      position: relative;
      top: -5px;
    }
    a {
      font-size: 0.8em;
      position: relative;
      top: -7px;
    }
  }
  @media only screen and (min-width: $tablet-min-width) {
    .lede-image {display: block;}
    #map {height: 300px;}
    .small-logo {
      background: image-url('logo-small.jpg') top left no-repeat;
      height: 21px;
      width: 95px;
    }
  }
}
