
body.customers-page {
    #page-content {
        background: #f4f4f4;
    }
    .customer-grid-item {
        margin: 20px 0;
        height: 73px;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-image: image-url('customer-logos/customer-logos-sprite-1.png');

        &.sprite2 {
            background-image: image-url('customer-logos/customer-logos-sprite-2.png');
        }

        &.starbucks {
            background-position: 50% -584px;
        }
        &.salesforce {
            background-position: 50% -146px;
        }
        &.fico {
            background-position: 50% -292px;
        }
        &.mtv {
            background-position: 50% -511px;
        }
        &.abc {
            background-position: 50% 0;
        }
        &.fox {
            background-position: 50% -365px;
        }
        &.guardian {
            background-position: 50% -438px;
        }
        &.cbs {
            background-position: 50% -73px;
        }
        &.disney {
            background-position: 50% -219px;
        }
        &.techcrunch {
            background-position: 50% -657px;
        }
        &.clorox {
            background-position: 50% -365px;
        }
        &.signals {
            background-position: 50% -292px;
        }
        &.ruelala {
            background-position: 50% -73px;
        }
        &.truste {
            background-position: 50% -219px;
        }
        &.taskrabbit {
            background-position: 50% -511px;
        }
        &.nymag {
            background-position: 50% 0;
        }
        &.cars {
            background-position: 50% -438px;
        }
        &.lendingtree {
            background-position: 50% -730px;
        }
        &.ign {
            background-position: 50% -1022px;
        }
        &.rocketlawyer {
            background-position: 50% -949px;
        }

        &.demand {
            background-position: 50% -803px;
        }

        &.legalzoom {
            background-position: 50% -657px;
        }

        &.ae {
            background-position: 50% -584px;
        }

        &.yelp {
            background-position: 50% -146px;
        }

        &.livestrong {
            background-position: 50% -876px;
        }

    }
}

@media screen and (min-width: $tablet-min-width) {

    body.customers-page {
        .customer-grid-item {
            @include column;
            @include columns(3);
            margin-top: 20px;
            margin-bottom: 20px;

            &.first-tablet {
                margin-left: 0;
            }
        }
    } 
}

@media screen and (min-width: $desktop-min-width) {

    body.customers-page {
        .customer-grid-item {
            @include column;
            @include columns(2.4);
            margin-top: 20px;
            margin-bottom: 20px;


            &.first-tablet {
                margin-left: 2.1276595745%;
            }
            
            &.first-desktop {
                margin-left: 0;
            }
        }
    } 
}