body.customers-page {

  #page-content {
    background: #f4f4f4;
  }

  #page-header-gradient {
    background-color: #f4f4f4;
  }

  #page-content {
    padding-bottom: 0;
  }

  .customer-grid-item {
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 0;
  }

  .customer-logo {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: image-url('customer-logos/customer-logos-sprite-1.png');
    height: 73px;
    
    &.sprite2 {
      background-image: image-url('customer-logos/customer-logos-sprite-2.png');
    }
  }

  .starbucks {
    background-position: 50% -584px;
  }
  .salesforce {
    background-position: 50% -146px;
  }
  .fico {
    background-position: 50% -292px;
  }
  .mtv {
    background-position: 50% -511px;
  }
  .abc {
    background-position: 50% 0;
  }
  .fox {
    background-position: 50% -365px;
  }
  .guardian {
    background-position: 50% -438px;
  }
  .cbs {
    background-position: 50% -73px;
  }
  .disney {
    background-position: 50% -219px;
  }
  .techcrunch {
    background-position: 50% -657px;
  }
  .clorox {
    background-position: 50% -365px;
  }
  .signals {
    background-position: 50% -292px;
  }
  .ruelala {
    background-position: 50% -73px;
  }
  .truste {
    background-position: 50% -219px;
  }
  .taskrabbit {
    background-position: 50% -511px;
  }
  .nymag {
    background-position: 50% 0;
  }
  .cars {
    background-position: 50% -438px;
  }
  .lendingtree {
    background-position: 50% -730px;
  }
  .ign {
    background-position: 50% -1022px;
  }
  .rocketlawyer {
    background-position: 50% -949px;
  }

  .demand {
    background-position: 50% -803px;
  }

  .legalzoom {
    background-position: 50% -657px;
  }

  .ae {
    background-position: 50% -584px;
  }

  .yelp {
    background-position: 50% -146px;
  }

  .livestrong {
    background-position: 50% -876px;
  }
}

@media screen and (min-width: $tablet-min-width) {

  body.customers-page {
    .customer-grid-item {
      @include column;
      @include columns(3.18);
      margin: 0 0 20px 0;
    }

    .customer-logo {
      border-right: 1px solid #e1e1e1;
    }

    #page-content {
      padding-bottom: 35px;
    }
  }
}

@media screen and (min-width: $desktop-min-width) {

  body.customers-page {
    .customer-grid-item {
      @include column;
      @include columns(2.6);
      margin: 0 0 20px 0;
    }
  }
}
