body.customer-stories-page {
  .sub-header-nav {text-align: right;}
  .top-content {
    margin-bottom: 25px;
    h2 {
      margin: 20px 0 0 0;
      font-size: 2.1em;
      font-weight: 300;
      line-height: 1.2;
    }
  }
  #page-content {background: #f4f4f4;}
  .callout {
    text-align: center;
    margin: 50px auto;
    h3 {
      text-align: center;
      font-weight: 300;
      margin: 0;
    }
    p {
      font-size: 15px;
      color: #666;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .video-container {
    @include responsive-vid-container(560, 325); 
    iframe {
      @include responsive-vid;
    }
  }
  .case-studies-bg-container {
    padding: 50px 0;
    background: image-url("cs-grid-bg.png");
  }
  .customer-grid-elm {
    position: relative;
    text-align: center;
    border: 1px solid rgb(213, 213, 213);
    background: rgb(255, 255, 255);
    color: rgb(36, 36, 36);
    margin-top: 20px;
    margin-bottom: 20px;
    .title-container {
      background: #f8f8f8;
      border-bottom: 1px solid #e9e9e9;
      text-transform: uppercase;
      padding: 0.8em 0;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: -1.2px;
      span {
        font-weight: bold;
      }
    }
    .percent {
      position: relative;
      top: -5px;
      left: -3px;
    }
    .customer-title {
      display: inline-block;
    }
    .customer-inner-content {
      padding: 20px;
    }
    .customer-logos {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      margin: 0 auto;
    }
    .button {
      padding: 6px 12px;
      font-size: 12px;
      position: absolute;
      bottom: 15px;
      opacity: 0;
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {

	body.customer-stories-page {

	}

}

@media only screen and (min-width: $tablet-min-width) {
  body.customer-stories-page {
    .top-content {
      h2 {
        margin: 0;
      }
    }
    .callout {
      width: 460px;
    }
    .title-container {
      h4,
      span {
        font-size: 1em;
      }
    }
    p {
      font-size: 0.9em;
      line-height: 1.6em;
    }
  }
}
