body.events-page{
  li {
    list-style-type: none;
    margin-bottom: 8px;
  }
  .event-cont {
    border-bottom: 1px solid #444;
    padding-bottom: 30px;
    margin-bottom: 30px;
    p,
    li {
      margin: 0;
      text-align: center;
    }
    h4 {
      font-size: 1.5em;
      margin: 5px 0 10px 0;
    }
    a {
      font-weight: bold;
    }
  }
  @media only screen and (min-width: $desktop-min-width) {
    #main {
        li {
          list-style-type: disc;
        }
    }
    .event-cont {
      @extend .clearfix;
      border: none;
      .left {
        width: 160px;
      }
      .right {
        width: 400px;
      }
      .venue {
        font-weight: 500;
        color: #444;
      }
      p,
      li {
        text-align: left;
      }
    }
    .show-past-events {
      background: image-url('past-events.png') no-repeat left center;
      margin-left: 10px;
      padding-left: 63px;
      padding-top: 7px;
      width: 300px;
    }
  }
}
