body.ppc-page {
  #ppc-form h4 {
    text-align: center;
  }

  .white-section {
    padding-top: 60px;
    background: #fff;
    border-bottom: 1px solid #d5d5d5;
  }

  .light-gray-section {
    padding: 50px 0;
  }

  .textured-section {
    padding: 50px 0;
    border-top: 1px solid #d5d5d5;
    box-shadow: inset 0px 0px 11px rgba(0,0,0,0.1);
    background: url('https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/noise.png');
  }

  .social-number {
    font-family: $condensed-sans-serif;
    font-size: 2.1em;
    font-style: normal;
    font-weight: 400;
    color: #036;
  }
  .description {
    font-size: 1.1em;
    font-variant: small-caps;
    color: #036;
  }
  #social-proof-cont {
    padding-top: 20px;
  }
  .social-numbers {
    background-image: url('https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/free-trial-sprite-adjusted-2.png');
    background-repeat: no-repeat;
    padding: 0 0 0 80px;
    width: 221px;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .visitors-tested-cont {
    background-position: 0 13px;
  }
  .experiments-run-cont {
    background-position: -735px 13px;
  }

  @media only screen and (min-width: $tablet-min-width) {

    #ppc-form {
      h4 {margin-top: 0;}
      #submit {width: 200px;}
    }

    #about-optimizely, #how-it-works {
      background-image: url('https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/free-trial-sprite-adjusted-2.png');
      background-repeat: no-repeat;
      padding-left: 145px;
    }

    #about-optimizely {
      background-position: -1573px 0;
    }

    #how-it-works {
      background-position: -2848px 0;
    }
    .customer-quote {
      text-align: center;
    }
    .pull-quote {
      color: #6b6b6b;
      display: block;
      margin-bottom: 0.5em;
      text-shadow: 1px 1px #fff;
    }
    .customer-logos p {text-align: center;}
    #social-proof-cont {
      @extend .clearfix;
      .visitors-tested-cont {
        float: left;
      }
      .experiments-run-cont {
        float: right;
      }
    }



  }
}
