body.ppc-page {
  h4 {text-align: center;}
  @media only screen and (min-width: $tablet-min-width) {
    input[type=text], input[type=url], input[type=tel], input[type=email] {
      width: 400px;
      margin: 0 auto 0 auto;
    }
  }
  @media only screen and (min-width: $desktop-min-width) {
    height: 100%;
    header {
      @extend .vertical-center-header;
    }
    h4 {
      margin: 0!important;
      padding: 0!important;
    }
    input[type=text], input[type=url], input[type=tel], input[type=email] {
      margin: 0 auto;
      width: auto;
    }
    #outer-wrapper, #inner-wrapper, #main, .container, .row, .columns {
      position: relative;
      height: 100%;
      margin: auto;
    }
    #ppc-form {
      margin-top: 75px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      #url, #name {width: 100%;}
      .terms {
        clear: both;
        padding-top: 25px;
        color: #999;
        font-size: 15px;
        a {
          font-size: 12px!important;
          font-weight: 500;
        }
      }
      #terms {
        width: 30px;
        text-align: left;
      }
    }
  }
}
