$desktop-content-width: 912px;

body.getting-started {

    .slider {
        ul {
            list-style: none;
            margin-left: 0;
        }

        li {
            margin-bottom: 20px;
        }
    }

    .nextLink {
        display: none;
    }

    .controls {
        display: none;
    }
}

@media only screen and (min-width: $desktop-min-width) {
    body.getting-started {

        .nextLink {
            display: inline;
            font-size: 0.85em;
            font-weight: 500;
        }

        .controls {
            display: block;
            background: image-url('gettingstarted/tracking-bg.png') no-repeat 50% 50%;

            a {
                margin-right: 172px;
                color: #eee;
                font-size: 0.75em;
                font-weight: 500;
                height: 2em;
                line-height: 2;
                text-align: center;
                width: 24px;
                display: inline-block;
                text-decoration: none;
                text-indent: -9999em;

                &:hover {
                    cursor: pointer;
                }

                &.active {
                    background: image-url('gettingstarted/current-slide.png') top center no-repeat;
                    text-indent: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:first-child {
                    margin-left: 44px;
                }
            }
        }

        .slider {
            max-width: $desktop-content-width;
            overflow: hidden;
            margin-top: 35px;
            margin-bottom: 10px;

            h3,
            h4 {
                margin-top: 10px;
            }

            ul {
                width: 6000px;
                position: relative;
                left: 0;
                transition: left .5s ease-in-out;

                li {
                    margin-bottom: 0;
                    padding-left: 3px;
                }

                &.one {
                    left: 0;
                }

                &.two {
                    left: - + $desktop-content-width;
                }

                &.three {
                    left: - + ($desktop-content-width * 2);
                }

                &.four {
                    left: - + ($desktop-content-width * 3);
                }

                &.five {
                    left: - + ($desktop-content-width * 4);
                }
            }

            li {
                max-width: $desktop-content-width;
                float: left;
            }
        }
    }
}