body.home-page {
  background: #003367 image-url('bg-header.png') repeat;
  h1 {color: #fff;}
  #cta {
    form {display: none;}
  }
  #touch-cta {
    width: 96%;
    margin: 0 auto 80px auto;
    color: #fff;
    form {
      width: 80%;
      margin: 0 auto;
    }

    input[type="text"], input[type="password"] {
      margin: 0 auto 25px auto;
    }

    .password-req {
      font-size: .6em;
    }

    label, .password-req {
      margin-bottom: 5px;
    }

    .password-req {
      margin-top: 0;
      text-align: left;
    }

    label span:first-of-type {
      display: block;
      text-align: left;
    }

    input[type="checkbox"]{
      display: inline-block;
    }

    .terms, .options {margin-bottom: 30px}

    .terms p {
      font-size: .9em;
      display: inline;
      line-height: 1.5em;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }

    .options p {
      font-size: .9em;
    }

    .error-show {
      color: #e58d88;
    }
  }
  @media only screen and (min-width: $tablet-min-width){
    #touch-cta {width: 65%;}
  }
  @media only screen and (min-width: $desktop-min-width){
    #touch-cta {display: none;}
    height: 100%;
    text-align: center;
    #outer-wrapper, #inner-wrapper, #cta {
      position: relative;
      height: 100%;
      margin: auto;
    }
    header {
      @extend .vertical-center-header;
    }
    #cta {
      /*padding-top: 105px;*/
      min-height: 700px;
      height: 100%;
      overflow: hidden;
      .container {
        position: relative;
        z-index: 2;
        /*padding-top: 210px;*/
        top: 50%;
        transform: translateY(-75%);
      }
      &:after {
        content: "";
        position: absolute;
        background: radial-gradient(rgba(29,69,129,0.7),rgba(29,69,129,0.6),rgba(1,51,102,0.5),rgba(1,51,102,0));
        height: 700px;
        display: block;
        width: 100%;
        z-index: 1;
        margin-top: 220px;
        top: 50%;
        transform: translateY(-75%);
      }
      form {
        display: block;
        background: linear-gradient(top, #003366 0%,#023f78 100%);
        box-shadow: 0px -2px 55px rgba(44,89,148,0.82);
        border: 1px solid #214e82;
        padding: 16px;
        width: 671px;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box;
      }
      input[type=text] {
        border: solid 1px #e3e3e3;
        box-shadow: inset 0 0px 10px 0 rgba(0,0,0,0.2);
        color: #006eb6;
        width: 446px;
        font-size: 16px;
        line-height: 22px;
        padding: 5px 8px;
        box-sizing: border-box;
        height: 36px;
        margin-right: 15px;
        display: inline-block;
      }
      input[type=submit] {
        @extend .primary-button;
        display: inline-block;
      }
    }
    h1 {
      text-align: center;
      font-size: 3.2em;
      font-weight: 300;
    }
  }
}
