body.integrations-solutions {


  .page-selector {
    .pill {
      width: 335px;
    }
  }

  .filter {
    .pill {
      width: 400px;
    }
  }

  .learn-more {
    color: rgb(129, 129, 129);
    font-size: 14px;
    padding-top: 40px;
    text-align: center;

    a.big {
      display: block;
      font-size: 20px;
    }
  }

  .partner-grid-elm {
    position: relative;
    text-align: center;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    color: rgb(129, 129, 129);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;

    .title-container,
    .button-container {
      background: #f8f8f8;
      padding: 0.8em 0;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: -1.2px;

      span {
        font-weight: bold;
      }
    }

    .title-container {
      border-bottom: 1px solid rgb(213, 213, 213);

      h4 {
        text-align: center;
      }
    }

    .button-container {
      border-top: 1px solid rgb(213, 213, 213);
      padding-left: 10px;
      padding-right: 10px;
    }

    .partner-title {
      color: $text-color;
    }

    .partner-location {
      color: #a9a9a9;
      text-transform: uppercase;
      font-weight: 400;
    }

    .partner-inner-content {
      padding: 20px;
    }

    .partner-logos {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      margin: 0 auto;
    }

    .button {
      color: rgb(255, 255, 255);
      font-size: 18px;
      text-shadow: 0 2px 0 rgb(25, 82, 158);
      width: 100%;
    }

    .level {
      .level-heading {
        color: #a9a9a9;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    /*.button {
      padding: 6px 12px;
      font-size: 12px;
      position: absolute;
      bottom: 15px;
      opacity: 0;
    }*/
  }

  .single-partner-container {
    background-color: #FFFFFF;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 5px;
    padding: 20px 40px;

    .partners-misc {
      color: #a9a9a9;
    }
  }

  a.button { // TODO: this should apply automatically
    color: #FFFFFF;
  }
}
