body.integrations-solutions {

  .integrations-container {
    padding: 0;
    // todo(ccorda): is there a collapse class?
    .integrations-message {
      display: none;
      &.visible {
        display: block;
      }
    }
  }

  .page-selector {
    .pill {
      width: 335px;
    }
  }

  .filter {
    .pill {
      width: 400px;
      // todo(ccorda): move this to pill.scss as a general responsive solution
      .dropdown-cont {
        &.dropdown-cont--region {
          ul {
            width: auto;
            li {
              white-space: nowrap;
            }
          }
        }
        &.dropdown-cont--columns {
          ul {
            column-count: 3;
            width: 500px;
            li {
              margin-bottom: 1px;
            }
          }
        }
      }
      @media (max-width: 420px) {
        width: 100%;
        .heading {
          width: 100%;
          border-right: 1px solid #d5d5d5;
          border-radius: 0;
        }
        .dropdown-cont {
          width: 100%;
          border-radius: 0;
          border: 1px solid #d5d5d5;
        }
      }
    }
    .star-cont {
      background-position: 0;
      height: 15px;
    }
  }

  .learn-more {
    color: rgb(129, 129, 129);
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

    a.big {
      display: block;
      font-size: 20px;
    }
  }
  // todo(ccorda): just for debugging, remove before pushing
  #output {
    display: none;
  }

  .partner-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .partner-grid-elm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    text-align: center;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    color: rgb(129, 129, 129);
    font-weight: 600;
    margin: 20px 5px;
    width: 32%;

    // todo(ccorda): probably a better way of handling this
    @media (max-width: 600px) {
      width: 100%;
    }

    &:nth-of-type(3n+1) {
      margin-left: 0;
    }

    .title-container,
    .button-container {
      background: #f8f8f8;
      padding: 0.8em 0;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: -1.2px;

      span {
        font-weight: bold;
      }
    }

    .title-container {
      border-bottom: 1px solid rgb(213, 213, 213);
      padding-left: 10px;
      padding-right: 10px;

      h4 {
        text-align: center;
        font-size: 1.5em;
      }
    }

    .button-container {
      border-top: 1px solid rgb(213, 213, 213);
      padding-left: 10px;
      padding-right: 10px;
    }

    .partner-title a {
      color: $text-color;
    }

    .partner-location {
      color: #a9a9a9;
      text-transform: uppercase;
      font-weight: 400;
    }

    .partner-inner-content {
      padding: 20px;
      flex-grow: 2;
    }

    .partner-logos {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center bottom;
      margin: 0 auto;
      height: 80px;
      width: 100%;
      max-width: 250px;
      display: block;
    }

    .button {
      color: rgb(255, 255, 255);
      font-size: 18px;
      text-shadow: 0 2px 0 rgb(25, 82, 158);
      width: 100%;
    }

    /*.button {
      padding: 6px 12px;
      font-size: 12px;
      position: absolute;
      bottom: 15px;
      opacity: 0;
    }*/
  }

  .single-partner-container {
    background-color: #FFFFFF;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 5px;
    padding: 20px 40px;

    .partners-logo {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center bottom;
      margin: 0 auto;
      height: 80px;
      width: 100%;
      max-width: 250px;
      display: block;
    }

    .partners-back,
    .partners-logo,
    .partners-contact,
    .partners-tags {
      margin-bottom: 1em;
    }

    .partners-misc,
    .partners-contact,
    .partners-languages,
    .partners-tags {
      color: #a9a9a9;
      a {
        color: #a9a9a9;
      }
    }
  }

  a.button { // TODO: this should apply automatically
    color: #FFFFFF;
  }

  .level {
    margin: 30px 0 10px 0;

    .level-heading {
      color: #a9a9a9;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .star-cont {
      height: 20px;
      margin: 5px 0;
      @media (max-width: 960px) {
        background-position: center center;
      }
    }
  }
}
