body.press-page {
	text-align: center;
	.sheet {
		overflow: hidden
	}
	#press-intro {
		margin-bottom: 30px;
	}
	.show-more,
	.hide-more {
		width: 100%;
	}
	.hide-more {
		display: none;
	}
	h3 {
		@extend .heading-underline;
	}
	.press-feed-item {
		&.enter,
		&.leave,
		&.anim-enter,
		&.anim-leave {
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-perspective: 1000;
		}
		$propterties: opacity 1 0, transform translate3d(0,0,0) translate3d(-100%,0,0);
		$transition: all 0.1s linear;
		margin-bottom: 60px;
		background-position: top center;
		background-repeat: no-repeat;
		@include optly--animate($propterties, $transition);
		img {
			width: 40%;
			display: block;
			margin: 0 auto 15px auto;
		}
		time {
			text-align: center;
			display: block;
			margin-bottom: 5px;
		}
	}
	#press-info div {margin-bottom: 55px;}
	#press-kit a {
		@extend .link-download;
	}
	#press-releases ul {
		padding: 0;
		li {
			list-style-type: none;
			margin-bottom: 20px;
		}
		p {
			margin-top: 7px;
		}
	}
	#company-information p {margin: 0 0 8px 0;}
	#follow-latest {
		ul {
			padding: 0;
		}
		li {
			list-style-type: none;
			margin-bottom: 15px;
		}
	}

	@media only screen and (min-width: $desktop-min-width){
		text-align: left;
		#press-mentions {
			float: left;
			width: 580px;
		}
		#press-info {
			float: right;
			width: 220px;
		}
		.press-feed-item {
			@extend .clearfix;
			margin-bottom: 35px;
			img {
				float: left;
				width: 115px;
			}
			time, h4 {
				float: right;
				width: 420px;
				text-align: left;
			}
			h4 {
				font-size: 1.15em;
				font-weight: 300;
			}
		}
		time {
			display: block;
			text-transform: uppercase;
		}
		#follow-latest {
			text-align: center;
			li {
				display: inline-block;
				border-right: 1px solid #242424;
				padding: 0 4px;
			}
			li.last {
				border-right: 0;
			}
		}
	}

}
