$animprop: opacity 1 0;
$transition: opacity 0.3s linear;

body.sample-size-page {
  .callout {
    border: 1px solid #eee;
    box-shadow: none;
    padding: 40px 70px;
    .row {
      margin-bottom: 70px;
    }
    &.calc-wrapper {
      color: #6b6b6b;
      font-weight: 400;
    }
    label {
      font-size: 0.75em;
      font-weight: 500;
      margin-bottom: 6px;
    }
    .calc-content {
      margin: 0;
      padding-top: 25px;
      font-weight: 400;
      line-height: 1.5em;
      font-size: 1em;
      &.last {
        padding: 0;
      }
    }
    .question-link {
      color: #4d89e2;
      font-weight: normal;
    }
    .question-link:hover {
      text-decoration: underline;
    }
    label,
    button {
      display: block;
    }
    input {
      -moz-transition: border linear 0.2s,background linear 0.2s;
      -webkit-transition: border linear,background linear;
      -webkit-transition-delay: 0.2s,0.2s;
      transition: border linear 0.2s,background linear 0.2s;
    }
    .input-wrapper {
      display: table;
      text-align: left;
      margin: 0 auto;
      input {
        border: 1px solid #c9c9c9;
        color: #242424;
        padding: 4px;
        font-size: 36px;
        min-height: 38px;
        width: 100px;
        display: inline-block;
        margin: 0;
        border-radius: 3px 0 0 3px;
      }
      span {
        display: table-cell;
        font-size: 24px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #c9c9c9;
        border-left: none;
        background-color: #eee;
        color: #888;
        padding: 0 0.3em;
        text-align: center;
        vertical-align: middle;
      }
    }
    .calculator-variables {
      position: relative;
      left: 2px;
      color: #242424;
      font-size: 1.5em;
    }
    .stat-wrapper {
      position: relative;
      min-height: 22px;
      input {
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        @include optly--animate($animprop, $transition, true, false);
      }
    }
    .button-link {
      font-size: 0.8em;
      background-color: transparent;
      border: none;
      color: #4d89e2;
      margin: 0;
      outline: none;
      padding: 0;
      text-transform: capitalize;
      margin: 0 auto;
      @include optly--animate($animprop, $transition, false, true);
    }
    .button-link:hover {
      text-decoration: underline;
    }
    .tails {
      text-align: center;
      label {
        display: inline-block;
        @extend .clearfix;
        margin-left: 5px;
        margin-bottom: 0;
      }
      input,
      span {
        display: inline-block;
        float: left;
      }
      input {
        margin-right: 5px;
      }
    }
    .calc-sample-cont {
      border-top: 1px solid #eee;
      text-align: center;
    }
    .sample-label {
      font-weight: normal;
      color: #888;
      font-size: 1.4em;
      margin: 15px 0 5px 0;
      text-align: center;
      font-variant: small-caps;
    }
    #sample {
      color: #3385d6;
      font-size: 3.5em;
      font-weight: 500;
      margin: 0;
    }
  } //end .callout
  .calc-faq-wrapper {
    margin-top: 60px;
    padding: 0 10px;
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 2.2em;
      color: #242424;
    }
    .calc-faq-cont {
      margin-top: 20px;
      p {
        margin: 10px 0 30px 0;
        line-height: 1.5;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .calc-faq-subtitle {
      color: #006eb6;
    }
  }
  .calc-cta {
    text-align: center;
    margin: 70px 0 50px 0;
    h4 {
      font-size: 1.1em;
      margin-bottom: 15px;
      margin-right: 12px;
    }
    h4{
      display: block;
    }
  }
  .calc-cta:before,
  .calc-cta:after {
    content: " ";
    -moz-background-size: 100%,100%;
    -webkit-background-size: 100%,100%;
    background-size: 100%,100%;
    background: image-url("sepshadow.png") no-repeat center top;
    display: block;
    height: 30px;
    width: 100%;
  }
  .calc-cta:after {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 30px;
  }
  .calc-cta:before {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.sample-size-page {
    .callout {
      .row {
        margin-bottom: 10px;
      }
      &.calc-wrapper {
        color: #6b6b6b;
        font-weight: 400;
        .one-third {
          margin-bottom: 32px;
        }
      }
    }
    .calc-faq-wrapper {
      padding: 0 100px;
    }
    .calc-cta {
      h4 {
        margin-bottom: 0;
      }
      h4,
      a {
        display: inline-block;
      }
      a {
        width: auto;
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.sample-size-page {
    .callout {
      .input-wrapper {
        margin: 0;
      }
      .button-link {
        margin: 0;
      }
      .calculator-variables {
        position: static;
      }
      .tails {
        text-align: left;
      }
      .stat-wrapper {
        position: relative;
        min-height: 22px;
        input {
          left: 0;
        }
      }
    }
  }
}