.testing {
  #main {
    h4 {
      text-align: center;
    }
    .container {
      text-align: left;
    }
  }
  .attention h5 {
    color: #242424;
    font-size: 1em;
    text-align: center;
  }
}
