.success {

  .sub-header-nav {
    margin-top: 43px;
  }

  .rowheight {
    min-height:292px;
  }
  .rowheight-shorter {
    min-height:210px;
  }

  .navbar.navbar-default {
    margin-bottom: 0px;
  }

  .jumbotron-customer {
    background: #1863ae;
  }

  .sliderbg-color {
    background-color: #192122;
    min-height: 292px;
  }

  .sliderbg {
    background: #444;
    padding: 40px;
  }

  .slider-text {
    font-size: 25px;
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: 100;
    top: 100px;
  }

  .slider-text1 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 100;
    padding-top: 45px;
  }

  .success-row {
    background: rgb(238,238,238);
    background: linear-gradient(to right,  #ffffff 0%,#eeeeee 100%);
    box-shadow:0 0 2px rgba(178,178,178,0.7);
    display: flex;
    margin-bottom: 20px;
    &.divided {
      background: none;
      border-top: 1px solid #aaa;
      box-shadow: none;
      padding-top: 20px;
      .success-content {
        background: none;
        border: none;
        padding-top: 0;
        h2 {
          margin-top: 0;
        }
      }
      .success-image {
        align-items: baseline;
      }
    }
  }

  .success-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 33%;
  }

  .text-blue {
    color: $blue;
  }

  .success-content {
    background-color: rgb(255,255,255);
    border-left: 1px solid #eeeeee;
    border-radius: 0;
    padding: 24px;
    width: 67%;
    h1 {
      margin-top: 0;
      font-size: 23px;
      line-height: 24px;
      font-weight: 100;
      font-family: inherit;
    }
    h2 {
      color:#1863ae;
      font-size: 18px;
      font-weight: lighter;
    }
    p {
      font-size: 15px;
      font-weight: lighter;
    }
  }
}


@media only screen and (min-width: $tablet-min-width) {
  .success {
    .sliderbg {
      background-image: image-url('success/banner3.jpg');
      background-repeat: no-repeat;
      background-position: center;
      min-height: 292px;
      padding: 0;
    }
    .success-row {
      &:first-of-type {
        margin-top: -50px;
      }
      .success-image {
        padding: 0;
      }
    }
    .slider-text {
      font-size: 39px;
      line-height: 60px;
      top: 55px;
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {}
