---
layout: modal_wrapper.hbs
modal_title: Create Experiment
modal_sub_header: Enter a URL below to get started on a new experiment!
form_id: create-exp-form
data_attr_value: create-exp
wrapper_id: create-exp-dialog
form_action: /account/signin
primary_button_text: Create Experiment
negative_button_text: Cancel
---
              <label>
                  <span>Experiment Name (optional)</span>
                  <input type="text" name="name" />
              </label>
              <label>
                  <span>Experiment URL</span>
                  <input type="text" name="url" maxlength="500" required="true" />
              </label>
