---
layout: modal_form.hbs
modal_title: Create a free account
modal_sub_header: You're seconds away from running A/B tests!
data_attr_value: signup
wrapper_id: signup-dialog
form_action: /account/create
primary_button_text: Create account
negative_action_button_text: Cancel
---
              <label id="name-label">
                  <span>Name</span>
                  <input type="text" name="name" />
              </label>
              <label>
                  <span>Work email address</span>
                  <input type="text" name="email" />
              </label>
              <label>
                  <span>Password</span>
                  <h5 class="password-req">Must use at least 8 characters and a mix of upper/lowercase letters, numbers or symbols</h5>
                  <input type="password" name="password1" class="password1" />
              </label>
              <label>
                  <span>Confirm password</span>
                  <input type="password" name="password2" />
              </label>
              <label id="phone-label">
                  <span>Phone number</span>
                  <input type="text" name="phone_number" />
              </label>
              <div class="terms">
                  <input type="checkbox" name="terms-of-service" />
                  <p>
                      I agree to the <a href="{{linkPath}}/terms" target="_blank">Terms of Service</a> and <a href="{{linkPath}}/privacy" target="_blank">Privacy Policy</a>.
                  </p>
              </div>
              <!-- <input id="hidden" type="hidden" name="hidden" value="" /> -->
              <div class="options">
                  <p>Already have an Optimizely account? <a class="show-sign-in">Sign in here</a></p>
              </div>
