---
layout: modal_wrapper.hbs
wrapper_id: signup-dialog
data_attr_value: signup
modal_title: Create a free account
modal_sub_header: You're seconds away from running A/B tests!
form_action: /account/create
primary_button_text: Create account
negative_button_text: Cancel
---
              <label id="name-label">
                  <span>Name</span>
                  <span class="email-related validation-error-message error-hide">Email is required</span>
                  <input type="text" name="name" />
              </label>
              <label>
                  <span>Work email address</span>
                  <input type="text" name="email" />
              </label>
              <label>
                  <span>Password</span>
                  <span class="password-related validation-error-message error-hide">Password is required</span>
                  <h5 class="password-req">Must use at least 8 characters and a mix of upper/lowercase letters, numbers or symbols</h5>
                  <input type="password" name="password1" class="password1" data-validation="password1"/>
              </label>
              <label>
                  <span>Confirm password</span>
                  <span class="password-related validation-error-message error-hide">Password is required</span>
                  <input type="password" name="password2" data-validation="password2"/>
              </label>
              <label id="phone-label">
                  <span>Phone number</span>
                  <input type="text" name="phone_number" />
              </label>
              <div class="terms">
                  <input type="checkbox" name="terms-of-service" required />
                  <p>
                      I agree to the <a href="{{linkPath}}/terms" target="_blank">Terms of Service</a> and <a href="{{linkPath}}/privacy" target="_blank">Privacy Policy</a>.
                  </p>
                  <span class="checkbox-related validation-error-message error-hide">This is required</span>
              </div>
              <!-- <input id="hidden" type="hidden" name="hidden" value="" /> -->
              <div class="options">
                  <p>Already have an Optimizely account? <a class="show-sign-in" data-modal-click="signin">Sign in here</a></p>
              </div>
