---
layout: modal_wrapper.hbs
wrapper_id: webinar-signup-modal
data_attr_value: webinar-signup
modal_title: Webinar Signup
modal_sub_header: This is a test!
primary_button_text: Register
negative_button_text: Cancel
---

<p>This is modal content!</p>
