---
layout: modal_wrapper.hbs
wrapper_id: webinar-signup-modal
wrapper_class: webinar-modal
data_attr_value: webinar-signup
form_action: /webinar/register
form_id: webinar-registration-form
modal_title: Webinar Signup
primary_button_text: Register
negative_button_text: Cancel
---
          <div id="webinar-info-cont" class="clearfix">
            <div class="left">
              <p>Selected date:</p>
            </div>
            <div class="right">
              {{> webinar_detail_info}}
            </div>
          </div>
          <label for="name">Name: </label>
          <input type="text" id="name" name="name"></input>
          <label>Email: </label>
          <input type="email" id="email" name="email"></input>
          <input type="hidden" name="WebinarRegistrationDate" id="date-long" value="">
          <input type="hidden" name="lpId" value="-1">
          <input type="hidden" name="subId" value="56">
          <input type="hidden" name="FirstName" value="">
          <input type="hidden" name="LastName" value="">
