---
layout: modal_wrapper.hbs
wrapper_id: webinar-confirmation-modal
wrapper_class: webinar-modal
data_attr_value: webinar-confirmation
modal_title: Thank you!
negative_button_text: Close
---
          <div class="webinar-info-cont" class="clearfix webinar-info"><div class="webinar-detail-info"></div></div>
          <p style="clear: both;">You will receive an email with all the information you'll need to join the meeting. We are excited to walk you through the features of our website testing solution.</p>
