---
layout: pricing.hbs
seo_title: Pricing
visible_title: Plans and Pricing
body_class:
- pricing
---

<div class="row">
    <div class="columns twelve pill-cont">
        <p>Your current plan is <span>gold</span></p>
        <div class="pill">
            <a href="#" class="active">Month-to-Month</a>
            <a href="#">One Year (10% off)</a>
            <a href="#">Two Years (25% off)</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns three">
        <span class="th-heading">Bronze</span>
        <img src="/static/img/sepshadow_180.png" class="after">
        <p class="price">
            30 day free trial, then
            <span><sup>$</sup>14</span>
            per month after trial period
        </p>
        <p class="discount">(25% off $19/mo, paid every 2 years)</p>
        <span class="your-plan">This is your plan.</span>
        <a class="primary-button a-center plan-button" data-plan-name="bronze" style="visibility: visible;">Downgrade</a>
    </div>
</div>
